# An Introduction to Python, part 2 (lessons 8-14)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#8-Object-orientation-and-Methods" data-toc-modified-id="8-Object-orientation-and-Methods-8">8 Object orientation and Methods</a></span><ul class="toc-item"><li><span><a href="#8.1-Exercise-–-experiment-with-string-methods" data-toc-modified-id="8.1-Exercise-–-experiment-with-string-methods-8.1">8.1 Exercise – experiment with string methods</a></span></li></ul></li><li><span><a href="#9-Lists" data-toc-modified-id="9-Lists-9">9 Lists</a></span><ul class="toc-item"><li><span><a href="#9.1-Definition" data-toc-modified-id="9.1-Definition-9.1">9.1 Definition</a></span></li><li><span><a href="#9.2-List-index" data-toc-modified-id="9.2-List-index-9.2">9.2 List index</a></span></li><li><span><a href="#9.3-Slicing" data-toc-modified-id="9.3-Slicing-9.3">9.3 Slicing</a></span></li><li><span><a href="#9.4-Changing-list-values" data-toc-modified-id="9.4-Changing-list-values-9.4">9.4 Changing list values</a></span></li><li><span><a href="#9.5--Removing-items-with-del" data-toc-modified-id="9.5--Removing-items-with-del-9.5">9.5  Removing items with <code>del</code></a></span></li><li><span><a href="#9.6-List-methods" data-toc-modified-id="9.6-List-methods-9.6">9.6 List methods</a></span><ul class="toc-item"><li><span><a href="#9.6.1-.append()" data-toc-modified-id="9.6.1-.append()-9.6.1">9.6.1 <code>.append()</code></a></span></li><li><span><a href="#9.6.2-.insert()" data-toc-modified-id="9.6.2-.insert()-9.6.2">9.6.2 <code>.insert()</code></a></span></li><li><span><a href="#9.6.3-.remove()" data-toc-modified-id="9.6.3-.remove()-9.6.3">9.6.3 <code>.remove()</code></a></span></li><li><span><a href="#9.6.4-.index()" data-toc-modified-id="9.6.4-.index()-9.6.4">9.6.4 <code>.index()</code></a></span></li><li><span><a href="#9.6.5-.sort()" data-toc-modified-id="9.6.5-.sort()-9.6.5">9.6.5 <code>.sort()</code></a></span><ul class="toc-item"><li><span><a href="#9.6.5.1-ASCII-Sorting" data-toc-modified-id="9.6.5.1-ASCII-Sorting-9.6.5.1">9.6.5.1 ASCII Sorting</a></span></li></ul></li><li><span><a href="#9.6.6-(Optional)-Method-call-straight-into-index-brackets" data-toc-modified-id="9.6.6-(Optional)-Method-call-straight-into-index-brackets-9.6.6">9.6.6 (Optional) Method call straight into index brackets</a></span></li><li><span><a href="#9.6.7-(Optional)-&quot;In-place&quot;-methods" data-toc-modified-id="9.6.7-(Optional)-&quot;In-place&quot;-methods-9.6.7">9.6.7 (Optional) "In place" methods</a></span></li></ul></li><li><span><a href="#9.7-The-built-in-function-list()" data-toc-modified-id="9.7-The-built-in-function-list()-9.7">9.7 The built-in function <code>list()</code></a></span></li><li><span><a href="#9.8-The-in-and-not-in-operators" data-toc-modified-id="9.8-The-in-and-not-in-operators-9.8">9.8 The <code>in</code> and <code>not in</code> operators</a></span></li><li><span><a href="#9.9-Similarities-between-lists-and-strings" data-toc-modified-id="9.9-Similarities-between-lists-and-strings-9.9">9.9 Similarities between lists and strings</a></span><ul class="toc-item"><li><span><a href="#9.9.1-The-split()-method" data-toc-modified-id="9.9.1-The-split()-method-9.9.1">9.9.1 The <code>split()</code> method</a></span></li><li><span><a href="#9.9.2-The-.join()-method" data-toc-modified-id="9.9.2-The-.join()-method-9.9.2">9.9.2 The <code>.join()</code> method</a></span></li></ul></li><li><span><a href="#9.10-Exercise-–-Build-your-own-list-function,-part-1" data-toc-modified-id="9.10-Exercise-–-Build-your-own-list-function,-part-1-9.10">9.10 Exercise – Build your own list function, part 1</a></span></li></ul></li><li><span><a href="#10-Loops" data-toc-modified-id="10-Loops-10">10 Loops</a></span><ul class="toc-item"><li><span><a href="#10.1-while-loops" data-toc-modified-id="10.1-while-loops-10.1">10.1 <code>while</code>-loops</a></span><ul class="toc-item"><li><span><a href="#10.1.1-Input-validation" data-toc-modified-id="10.1.1-Input-validation-10.1.1">10.1.1 Input validation</a></span></li><li><span><a href="#10.1.2-CAUTION:-Infinite-while-loops" data-toc-modified-id="10.1.2-CAUTION:-Infinite-while-loops-10.1.2">10.1.2 CAUTION: Infinite <code>while</code>-loops</a></span></li><li><span><a href="#10.1.3-The-break-statement" data-toc-modified-id="10.1.3-The-break-statement-10.1.3">10.1.3 The <code>break</code> statement</a></span></li><li><span><a href="#10.1.4-Exercise-–-Build-your-own-list-function,-part-2" data-toc-modified-id="10.1.4-Exercise-–-Build-your-own-list-function,-part-2-10.1.4">10.1.4 Exercise – Build your own list function, part 2</a></span></li></ul></li><li><span><a href="#10.2-for-loops" data-toc-modified-id="10.2-for-loops-10.2">10.2 <code>for</code>-loops</a></span><ul class="toc-item"><li><span><a href="#10.2.1-for-loop-with-the-range()-function" data-toc-modified-id="10.2.1-for-loop-with-the-range()-function-10.2.1">10.2.1 <code>for</code>-loop with the <code>range()</code> function</a></span></li><li><span><a href="#10.2.2-The-continue-statement" data-toc-modified-id="10.2.2-The-continue-statement-10.2.2">10.2.2 The <code>continue</code> statement</a></span><ul class="toc-item"><li><span><a href="#10.2.2.1-Exercise-–-Build-your-own-list-function,-part-3" data-toc-modified-id="10.2.2.1-Exercise-–-Build-your-own-list-function,-part-3-10.2.2.1">10.2.2.1 Exercise – Build your own list function, part 3</a></span></li></ul></li><li><span><a href="#10.2.3-for-loop-without-range()" data-toc-modified-id="10.2.3-for-loop-without-range()-10.2.3">10.2.3 <code>for</code>-loop without <code>range()</code></a></span></li><li><span><a href="#10.2.4-for-loops-–-with-or-without-range()?" data-toc-modified-id="10.2.4-for-loops-–-with-or-without-range()?-10.2.4">10.2.4 <code>for</code>-loops – with or without <code>range()</code>?</a></span></li></ul></li></ul></li><li><span><a href="#11-Mutable-and-immutable-objects" data-toc-modified-id="11-Mutable-and-immutable-objects-11">11 Mutable and immutable objects</a></span><ul class="toc-item"><li><span><a href="#11.1-Variables'-references-to-values" data-toc-modified-id="11.1-Variables'-references-to-values-11.1">11.1 Variables' references to values</a></span></li><li><span><a href="#11.2-Mutable-lists-in-local-scopes" data-toc-modified-id="11.2-Mutable-lists-in-local-scopes-11.2">11.2 Mutable lists in local scopes</a></span><ul class="toc-item"><li><span><a href="#11.2.1-Exercise-–-why-doesn't-the-variable-change?" data-toc-modified-id="11.2.1-Exercise-–-why-doesn't-the-variable-change?-11.2.1">11.2.1 Exercise – why doesn't the variable change?</a></span></li></ul></li><li><span><a href="#11.3-How-to-copy-mutable-objects-then?" data-toc-modified-id="11.3-How-to-copy-mutable-objects-then?-11.3">11.3 How to copy mutable objects then?</a></span></li></ul></li><li><span><a href="#12-Dictionaries" data-toc-modified-id="12-Dictionaries-12">12 Dictionaries</a></span><ul class="toc-item"><li><span><a href="#12.1-Definitions" data-toc-modified-id="12.1-Definitions-12.1">12.1 Definitions</a></span></li><li><span><a href="#12.2-Looping-over-a-dictionary" data-toc-modified-id="12.2-Looping-over-a-dictionary-12.2">12.2 Looping over a dictionary</a></span></li><li><span><a href="#Exercise-–-Consumer-costs" data-toc-modified-id="Exercise-–-Consumer-costs-12.3">Exercise – Consumer costs</a></span></li></ul></li><li><span><a href="#13-Tuples" data-toc-modified-id="13-Tuples-13">13 Tuples</a></span></li><li><span><a href="#14-Data-structures" data-toc-modified-id="14-Data-structures-14">14 Data structures</a></span><ul class="toc-item"><li><span><a href="#14.1-Lists-in-dictionaries" data-toc-modified-id="14.1-Lists-in-dictionaries-14.1">14.1 Lists in dictionaries</a></span></li><li><span><a href="#14.2-Tuples-in-lists" data-toc-modified-id="14.2-Tuples-in-lists-14.2">14.2 Tuples in lists</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#The-zip()-function" data-toc-modified-id="The-zip()-function-14.2.0.1">The <code>zip()</code> function</a></span></li></ul></li></ul></li><li><span><a href="#14.3-List-of-dictionaries" data-toc-modified-id="14.3-List-of-dictionaries-14.3">14.3 List of dictionaries</a></span></li><li><span><a href="#14.4-Lists-into-dictionaries-–-zip()-and-dict()" data-toc-modified-id="14.4-Lists-into-dictionaries-–-zip()-and-dict()-14.4">14.4 Lists into dictionaries – <code>zip()</code> and <code>dict()</code></a></span></li><li><span><a href="#14.5-(Optional)-The-enumerate()-function" data-toc-modified-id="14.5-(Optional)-The-enumerate()-function-14.5">14.5 (Optional) The <code>enumerate()</code> function</a></span></li><li><span><a href="#14.6-Exercise-–-transform-the-data-structure" data-toc-modified-id="14.6-Exercise-–-transform-the-data-structure-14.6">14.6 Exercise – transform the data structure</a></span></li></ul></li><li><span><a href="#15-Errors-and-Exceptions" data-toc-modified-id="15-Errors-and-Exceptions-15">15 Errors and Exceptions</a></span><ul class="toc-item"><li><span><a href="#15.1-try-and-except-statements" data-toc-modified-id="15.1-try-and-except-statements-15.1">15.1 <code>try</code> and <code>except</code> statements</a></span></li></ul></li></ul></div>

## 8 Object orientation and Methods

In Python, everything, all code, is considered an object. Every object comes with its own features, properties, and functions. This means that if we create a variable with a string value:

In [48]:
fruit = "banana"

...this variable has its own functions. A function connected to an object is called a **method** in Python. They are functions, just like the ones we have learned about in chapter 6, only that they are accessed in a different way – with the dot `.` operator. We used the `.` operator when we learned about how to import modules and to use their functions when we imported the `randint()` function from the `random` module. 

As we discussed, using the `.` to access method is called **dot notation**.

In [484]:
import random

In [486]:
random.randint(1,10) # randint() is a method

10

Since even values are objects with their own methods, let's try it on our variable's string value. We can use string value methods! For example, the `upper()` method:

In [488]:
fruit.upper() # returns the string in upper casing

'BANANA'

Or the `capitalize()` method, which returns the string but with the first letter capitalized:

In [491]:
fruit.capitalize()

'Banana'

Remember, methods and functions are the same. "Method" is used to emphasize that it is a function attached to other objects.

### 8.1 Exercise – experiment with string methods

In this exercise, I want you to experiment with string methods. I want you to try out dot notation after this string variable:

In [57]:
fruits = "There are at least two bananas in this sentence bananas"

Remember that dot notation is when you type the variable name, and then a dot `.` after. So in this case, you write `fruits.`. In Jupyter Notebooks, you can then press the <kbd>⇥ Tab</kbd> key to get a list of all methods available for the variable. If you want to see the methods docstring (information about the method), you can write the variable with dot notation, the method and then press <kbd>Shift ⇧</kbd>+<kbd>⇥ Tab</kbd> to get access to the docstring. So, as an example, if you want the docstring for the string method `.upper()`, you type `fruits.upper` and then tap <kbd>Shift ⇧</kbd>+<kbd>⇥ Tab</kbd>!

Using the variable above, I want you to find out what these three methods do, and then use them in an example of your own:

1. `.count()`
2. `.find()`
3. `.replace()`

Good luck!

## 9 Lists

In section 1, we learned about the various value types. When programming, we often want to store values into a container of data. In this chapter, we will learn about one such container – the list data type.

### 9.1 Definition

A list in Python code is defined by enclosed square brackets `[]`:

In [82]:
[] # empty list

[]

In [467]:
type([])

list

A list can contain zero (like in the cell just above), one, or many values. The contents in a list are called **items**. All items in a list are seperated by commas:

In [497]:
[2, 4, 3, 1]

[2, 4, 3, 1]

(Note that it is common practice to type one blank space after commas in lists in Python)

Lists can contain any type of value:

In [469]:
[1, "Hello world!", True, None]

[1, 'Hello world!', True, None]

### 9.2 List index

All lists in Python has an index that can be used to find specific values within the list.

In [268]:
a_list = [1, 2, "three", 4]

To access a list's index and return a specific value, we type squared brackets – these are **the list operators `[]`** – directly after the list with an **index number** in-between. The index numbers start at 0 and up to the length of the list minus 1:

In [269]:
a_list[0]

1

In [270]:
a_list[2]

'three'

In Python, lists are zero-indexed. But we can also reference the index using negative numbers which references the list backwards. **Negative indexing** start at -1 which points to the last value in the list:

In [509]:
a_list[-1]

4

So `a_list[-1]` (the last value in the `a_list` variable) references the same specific value as `a_list[3]` (the fourth value in the `a_list` variable). They reference the same value:

In [272]:
a_list[-1] == a_list[3]

True

We can use negative indexing to check if the maximum index number always is the list's length, minus 1:

In [273]:
a_list[len(a_list)-1] # See what's going on here?

4

(above, the `len()` function returns the length of the list, 4, then we subtract 1 from 4, which returns 3 to the index reference!)

In [274]:
a_list[-1]

4

In [275]:
a_list[len(a_list)-1] == a_list[-1]

True

Using an indexnumber that is higher than the number of values included in the list will produce an error:

In [276]:
a_list[len(a_list)+1]

IndexError: list index out of range

You can also put lists within lists. This is called _nested lists_:

In [498]:
nested_list = [0, 1, [2, 3], 4]

Nested lists' values can also be accessed with indexing:

In [503]:
nested_list[2] # index value 2 returns the nested list

[2, 3]

In [504]:
nested_list[2][1] # second index value (1) returns the second item in the nested list

3

### 9.3 Slicing

Using index values, we can also get chunks of the list. This is done with **slicing**. The syntax for a slice is two index numbers – a start and a stop index – seperated by a colon `:`. Slicing a list _always_ returns a new list.

In [544]:
a_list = [3, 5, 4, "banana", "apple", "orange"]

In [545]:
a_list[3:6] # start at index 3, stop at index 6

['banana', 'apple', 'orange']

The second number is "up to this index", **not** "up to _and including_ this index".

We can also do slicing with just one index number:

In [549]:
a_list[:2] # returns all values up to index 2

[3, 5]

In [551]:
a_list[2:] # returns all values from index 2 and onwards

[4, 'banana', 'apple', 'orange']

As descirbed above, _a slice always returns a list_, even if you would only get one value from it:

In [546]:
a_list[-1:] # return all values from the last value and onwards

['orange']

### 9.4 Changing list values

Using list indexing, we can also change values within the list:

In [277]:
fruit = ['banana', 'apple', 'pear']

In [278]:
fruit

['banana', 'apple', 'pear']

In [5]:
fruit[1] = 'peach'

In [6]:
fruit

['banana', 'peach', 'pear']

This can also be done using slicing:

In [7]:
fruit[1:] = ['blueberries', 'orange']

In [8]:
fruit

['banana', 'blueberries', 'orange']

### 9.5  Removing items with `del`

We can remove items by using the `del` keyword:

In [16]:
fruit = ['banana', 'apple', 'pear']

In [17]:
del fruit[1]

In [18]:
fruit

['banana', 'pear']

`del` can also be used on slices:

In [279]:
fruit = ['banana', 'apple', 'pear', 'orange']

In [280]:
del fruit[0:2]

In [281]:
fruit

['pear', 'orange']

### 9.6 List methods

Lists have a range of useful methods. These are some commonly used ones.

#### 9.6.1 `.append()`

Take this list as an example:

In [84]:
animals = ["dog", "camel", "bird", "mouse"]

In [85]:
animals

['dog', 'camel', 'bird', 'mouse']

With the `append()` method, we add the passed argument to the end of the list. Here, we add the string "elephant":

In [86]:
animals.append("elephant")

In [87]:
animals

['dog', 'camel', 'bird', 'mouse', 'elephant']

#### 9.6.2 `.insert()`

Using the `insert()` method, we also add a value, but we can specify where we want it placed inside the list. This method takes two arguments (seperated by comma, remember?): the first is the index number where we want the new value placed, and the second is the value we want inserted in the list.

In [95]:
animals = ["dog", "camel", "bird", "mouse"]

In [96]:
animals.insert(2, "elephant") # value with index number 2 – that is, the third value – shall be "elephant"

In [97]:
animals

['dog', 'camel', 'elephant', 'bird', 'mouse']

#### 9.6.3 `.remove()`

We can also remove items using the `remove()` method:

In [98]:
animals = ["dog", "camel", "bird", "mouse"]

In [99]:
animals.remove("dog")

In [100]:
animals

['camel', 'bird', 'mouse']

#### 9.6.4 `.index()`

We can also use the `index()` method to learn which index number a specific value in the list has:

In [83]:
animals.index('bird')

1

This can be useful when you only want one specific value changed, but don't know where in the list it is. Let's say we have a list of names, and only want to change one name in the list:

In [297]:
names = ["Johan", "Fredrik", "Anna", "Sonya", "Ahmed"]

In [298]:
change_this = names.index("Johan")

In [299]:
change_this

0

In [300]:
names[change_this] = "Charlie"

In [301]:
names

['Charlie', 'Fredrik', 'Anna', 'Sonya', 'Ahmed']

#### 9.6.5 `.sort()`

The `.sort()` method sorts your list! Strings alphabetically:

In [1]:
names = ["Johan", "Fredrik", "Anna", "Sonya", "Ahmed"]

In [3]:
names.sort()

In [4]:
names

['Ahmed', 'Anna', 'Fredrik', 'Johan', 'Sonya']

Number values get sorted with the smallest value first:

In [12]:
numbers = [4, 53, 100, -14, 10, 10.1, 37]

In [13]:
numbers.sort()

In [14]:
numbers

[-14, 4, 10, 10.1, 37, 53, 100]

You can also use sort in reverse order, by setting the reverse parameter to `True`:

In [15]:
numbers.sort(reverse=True)

In [16]:
numbers

[100, 53, 37, 10.1, 10, 4, -14]

Sorted will produce an error if you try to sort a list with _both_ number and string values:

In [17]:
mixed = ["Johan", 4, "bananas", 42]

In [18]:
mixed.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

##### 9.6.5.1 ASCII Sorting

The `.sort()` doesn't actually sort in alphabetical order, but "ASCII-betical" order. That is, in accordance with [the ASCII table](http://www.asciitable.com/).  This means it takes upper and lower casing into account while sorting. So upper case comes before lower case:

In [285]:
things = ["Johan", "Sarah", "Mohamed", "juice", "sand", "moose"]

In [286]:
things.sort()

In [287]:
things

['Johan', 'Mohamed', 'Sarah', 'juice', 'moose', 'sand']

In [288]:
things = ["AAA", "bbb", "CCC", "aaa", "BBB", "ccc"]

In [289]:
things.sort()

In [290]:
things

['AAA', 'BBB', 'CCC', 'aaa', 'bbb', 'ccc']

This is a bit weird, isn't it? "BBB" before "aaa"? Thankfully, you can change the sorting behaviour to true alphabetical order by using the `key` parameter:

In [291]:
things = ["AAA", "bbb", "CCC", "aaa", "BBB", "ccc"]

In [292]:
things.sort(key=str.lower) # here, we're actually passing a method as an argument

In [293]:
things

['AAA', 'aaa', 'bbb', 'BBB', 'CCC', 'ccc']

In above sorting, casing is ignored. If the items are of the same alphbetical letters, they are ordered as they appear in the list.

#### 9.6.6 (Optional) Method call straight into index brackets

Since the method `.index()` return the index value, we can acctually just insert that method call into the index brackets directly!

In [294]:
names = ["Johan", "Fredrik", "Anna", "Sonya", "Ahmed"]

In [295]:
names[names.index("Johan")] = "Charlie"

In [296]:
names

['Charlie', 'Fredrik', 'Anna', 'Sonya', 'Ahmed']

#### 9.6.7 (Optional) "In place" methods

Some of you may have noticed that some of the methods above didn't return any value. Take `.append()` as an example:

In [108]:
names = ["Johan", "Fredrik", "Anna", "Sonya", "Ahmed"]

In [109]:
names.append("Lisa") # Doesn't return anything??

In [110]:
names

['Johan', 'Fredrik', 'Anna', 'Sonya', 'Ahmed', 'Lisa']

Some methods modify values "in place". `.append()` is one such method. They don't return a new list, only change the list we use the method on. 

Or, to be precise, they actually do return a value – `None`. So be sure not to reassign a `.append()` method call to a variable. You will replace your variable list with the `None` value:

In [302]:
names = ["Johan", "Fredrik", "Anna", "Sonya", "Ahmed"]

In [303]:
names = names.append("Lisa")

In [304]:
names

In [305]:
type(names)

NoneType

### 9.7 The built-in function `list()`

The `list()` function lets us convert list-like objects – containers – into Python lists. String values are containers, so the `list()` function divides the string into a list of all its characters:

In [57]:
list("Johan")

['J', 'o', 'h', 'a', 'n']

### 9.8 The `in` and `not in` operators

Often, our lists will include a whole bunch of items. And it is fairly common we want to check to see if a specific value is or isn't included in the list. As an example, let's create a list of surnames:

In [306]:
surnames = ["Ekman", "Smith", "Deboullie", "Mäki", "Sørensen", "Doe"]

We can now check to see if the surname "Doe" is in the list (remember, Python is checking your code literally. Casing matters, so always check your spelling!):

In [307]:
"Doe" in surnames

True

In [308]:
"banana" in surnames

False

In [309]:
"banana" not in surnames

True

In [310]:
"Doe" not in surnames

False

If you recall the if-statement, it is fairly easy to understand why these operators would come in handy in a program. Let's say we want our program to add names that aren't already in the list. An if-statement can help us with that:

In [78]:
name = "Sauron"

In [79]:
if name not in surnames:
    surnames.append(name)

In [80]:
surnames

['Ekman', 'Smith', 'Deboullie', 'Mäki', 'Sørensen', 'Doe', 'Johan', 'Sauron']

### 9.9 Similarities between lists and strings

As explained in our chapter 6, the `len()` function returns the number of items within a container. We used this built-in function on string values:

In [35]:
name = "Johan"

In [36]:
len(name)

5

String values actually have a lot in common with lists. They have an index:

In [37]:
name[2]

'h'

You can use slice indexing:

In [38]:
name[2:4]

'ha'

Just like lists, you can use the `in` and `not in` operators on strings:

In [30]:
# returns True if "oh" is in the string
"oh" in "Johan"

True

In [31]:
# returns True if "Johan" isn't in the string
"Johan" not in "This is a string value, not containing any names."

True

In [32]:
# returns False if "Johan" is in the string
"Johan" not in "This is a string value, containing the name Johan."

False

And, as shown in section 9.7, if we use the `list()` function on a string, it returns the strings characters in a list:

In [39]:
list("Johan")

['J', 'o', 'h', 'a', 'n']

Just like strings, lists are also containers, which means we can also use the `len()` function on our lists!

In [61]:
fruit = ['banana', 'apple', 'orange']

In [37]:
len(fruit)

3

Just as with strings, lists can be concatinated with the `+` operator.

In [52]:
"Hello " + "world!"

'Hello world!'

This also works with lists:

In [53]:
fruit

['banana', 'apple', 'orange']

In [48]:
berries = ['blackberries', 'strawberries', 'blueberries']

In [49]:
fruit + berries

['banana', 'apple', 'orange', 'blackberries', 'strawberries', 'blueberries']

In [56]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

We can also do **list replication** with the multiplication operator:

In [55]:
fruit * 3

['banana',
 'apple',
 'orange',
 'banana',
 'apple',
 'orange',
 'banana',
 'apple',
 'orange']

#### 9.9.1 The `split()` method

String values acctually have a very neet method that let us cut up strings into lists: `split()`. By default, this method splits up the string by all its blank spaces:

In [313]:
long_string = "Hello everyone. This is a preeeetty long string"

In [314]:
long_string.split()

['Hello', 'everyone.', 'This', 'is', 'a', 'preeeetty', 'long', 'string']

But we can split it on any character we wish. We just pass a character to split on as an argument:

In [315]:
long_string.split(".") # splits on '.'

['Hello everyone', ' This is a preeeetty long string']

In [316]:
long_string.split("e") # splits on 'e'

['H', 'llo ', 'v', 'ryon', '. This is a pr', '', '', '', 'tty long string']

Note that the character that we chose to split on isn't included in the returned list.

#### 9.9.2 The `.join()` method

We can also do the reverse operation as we did with the `.split()` method, using the `.join()` method. This is actually not a list method, it is a string method that takes a list as an argument. It converts the list into a string value! Let's build on the ecample from the previous section:

In [1]:
long_string = "Hello everyone. This is a preeeetty long string"

In [2]:
split_list = long_string.split()

In [3]:
split_list

['Hello', 'everyone.', 'This', 'is', 'a', 'preeeetty', 'long', 'string']

So, we've created a list out of our string by splitting on all blank space in the string (since this is the default of the split method). We've saved this new list into a variable – `split_list`. 

Now, we can use the `.join()` method to recreate our string:

In [9]:
" ".join(split_list)

'Hello everyone. This is a preeeetty long string'

What happend??

We took a string value, in this case a single blank space `" "`, and used the string method join of it. Then we pass our list as the argument to this method call. The join method will then join all this list's item into a single string value. It will connect each list item with the string value we used the join method of. This string can be whatever string we'd like it to be:

In [5]:
"Johan".join(split_list)

'HelloJohaneveryone.JohanThisJohanisJohanaJohanpreeeettyJohanlongJohanstring'

In [6]:
"XYZ".join(split_list)

'HelloXYZeveryone.XYZThisXYZisXYZaXYZpreeeettyXYZlongXYZstring'

In [7]:
"€%&".join(split_list)

'Hello€%&everyone.€%&This€%&is€%&a€%&preeeetty€%&long€%&string'

In [8]:
", ".join(split_list)

'Hello, everyone., This, is, a, preeeetty, long, string'

This method is very useful since it is sometimes handy to save a entire list into one single string variable. And if we then want to convert it back into a list, we can just use the split method again!

### 9.10 Exercise – Build your own list function, part 1

In this exercise, I want you to build a function that replaces any of the items in this list: 

`my_list = ["apple", "pear", "orange", "blueberry"]`

It should have three parameters. the first should be the value that is meant to be replaced. The second should be the value we want to replace with, and the third should be the list itself. 

For example, say I want to swap `"orange"` to `"pineapple"`, your function should be called like this:

`my_function("orange", "pineapple", my_list)` and then return a list where `"orange"` is gone, and `"pineapple"` added to the list. 

Also! If the passed item isn't included in the list, the function should print a warning about this and then return the original list. 

Hint: you will need to use list methods to get this done. The solution can be found in the solutions notebook. Good luck!

In [63]:
my_list = ["apple", "pear", "orange", "blueberry"]

## 10 Loops

### 10.1 `while`-loops

In chapter 6 we learned about flow control `if`-statements. For example:

In [5]:
number = 0

In [6]:
if number < 5:
    number = number + 1
    print(number)

1

Here, we created a global variable `number` assigned to the integer 0. The `if`-statement evaluates the condition `number < 5` to `True` (since 0 is less than 5) and thus executes the code block beneath it. Within the code block, `number` is increased by 1, and the variable is then printed. Here is a flow chart of what has happend:

<img src="../course_material/if_statement.png" style="width: 600px;"/>

A `while`-loop lets us use the same kind of flow control, while at the same time automatically repeating the code block as many times we'd like. Let's do the same thing, but with a while loop:

In [11]:
number = 0

In [12]:
while number < 5:
    number = number + 1
    print(number)

1
2
3
4
5

A `while`-loop evaluates the condition passed (`number < 5`), and if this is true, the code block is executed – just like the `if`-statement. BUT! The difference is that the `while`-loop will execute the code block, and then _return back to the condition and check it again_. If the condition is still true, it will rerun the code block. It will _loop over_ the code block until the condition is false! Here is a flow chart of what happend:

<img src="../course_material/while_loop.png" style="width: 500px;"/>

#### 10.1.1 Input validation

While loops are usually used when you want input from a user that needs to be typed in a specific way. Uncomment the following code (just remove the `#` characters in the cell – and be careful to only remove the `#` characters!) and run the code.

Below, we use the built-in function `input()`. This creates a small input bar under the cell where we can type in a value that will be passed as a string to our code. Write your prefered string and then press Enter. If the string value we've passed doesn't match "Yes", the condition `user_input != "Yes"` will evaluate to `True`, and the code block is executed. Try it:

In [19]:
#user_input = input()
#print("Would you like to proceed?")
#while user_input != "Yes":
#    print("To proceed, type 'Yes'")
#    user_input = input()
#print("Proceeding...")

While loops are often used in this manner, to validate that the input from a user is as expected. Using while loops in this manner is often called **input validation**.

#### 10.1.2 CAUTION: Infinite `while`-loops

Since a while-loop always repeats itself if its condition is evaluated to `True`, you have to be cautious not to create an infinite loop. Let's reuse the above example but with one small change:

In [13]:
number = 0

In [ ]:
#while number < 5:
#    print(number)

The while-loop above is commented out so that you won't run it by accident. This code will create an infinite loop. Since we no longer add the value 1 to `number` within the loop's code block, `number` will always be 0. This means that the condition `number < 5` will _always_ be True, and the loop will continue until the end of time. Whoopsie! ¯\\\_(ツ)\_/¯

No worries though. You can _always_ interrupt a running program in Python. In general, when running python programs, this is done by pressing: 

<kbd>⌃ Control</kbd>+<kbd>C</kbd>

In a Jupyter Notebook, however, you do this by either:
- pressing <kbd>I</kbd>,<kbd>I</kbd> (double tap `I` on your keyboard)
- Go to the Jupyter menu and choose Kernel > Interrupt. Here is a pic:

<img src="../course_material/interrupt.png" style="width: 500px;"/>

Try it! Uncomment above while-loop and interrupt it!

#### 10.1.3 The `break` statement

The `break` statement cancels a ongoing loop. Let's use the `sum()` function in this example. It sums up a list's number values:

In [73]:
number_list = [1, 2, 3, 4, 5, 6]

In [70]:
sum(number_list)

21

Let's say we want to increase the first value in the list by 1 until the sum of all values is 1000. This can be done with a while loop:

In [71]:
while sum(number_list) < 1000:
    number_list[0] += 1 # remember this pattern? Section 3.3.1!

In [72]:
number_list

[980, 2, 3, 4, 5, 6]

But let's say that, for whatever reason, we want the loop the stop if it's taking too long. So, if the first value in the list is too small – like, less than 100 – this while loop is gonna be too slow and we want it to stop. We can then use a `break` statement:

In [74]:
number_list = [1, 2, 3, 4, 5, 6]

In [76]:
while sum(number_list) < 1000:
    if number_list[0] < 100:
        print("First list item is less than 100. Stopping loop...")
        break
    # This won't execute:
    number_list[0] += 1

first item is less than 100. Stopping loop...

In [77]:
number_list

[1, 2, 3, 4, 5, 6]

Another example: let's say we have a list of names, and we want to use a while loop to remove all "Johan" in the list, using the `.remove()` method:

In [89]:
list_of_names = ["Johan", "Fredrick", "Jonas", "Katie", "Puck", "Johan"]

In [90]:
name = "Johan"

The `.remove()` method only removes the lowest indexed occurance of the passed argument. So if I pass "Johan", only the first occurance will be removed from the list:

In [91]:
list_of_names.remove(name)

In [92]:
list_of_names

['Fredrick', 'Jonas', 'Katie', 'Puck', 'Johan']

But we can use a while loop to remove all the occurances, using the `.index()` method instead:

In [93]:
name = "Johan"

list_of_names = ["Johan", "Fredrick", "Jonas", "Katie", "Puck", "Johan"]
while name in list_of_names:
    list_of_names.remove(name)

In [94]:
list_of_names

['Fredrick', 'Jonas', 'Katie', 'Puck']

But what if we don't want this to run on a list that is really really big? Say, larger than 10.000 items? We can use the `break` statment:

In [95]:
list_of_names = ["Johan", "Fredrick", "Jonas", "Katie", "Puck", "Johan"] * 5000

In [96]:
len(list_of_names)

30000

In [98]:
while name in list_of_names:
    if len(list_of_names) > 10000:
        print("While-loop stopped because list too big...")
        break
    list_of_names.remove(name)

While-loop stopped because list too big...

#### 10.1.4 Exercise – Build your own list function, part 2

In this exercise, we will redo our function from the last exercise, but with a while-loop instead of inplace list methods. As was in the last exercise, you will create a function that takes three arguments: the list item to replace, the replacement value, and the list itself. But this time, the function should be able to take any list and replace all occurances of the values within the list, _at the same index where they lie in the list_.

Take this list as an example:

`my_list = ["orange", "pear", "orange", "blueberry"]`

Say we want to replace "orange" with "pineapple", the return from your function should look like this:

`["pineapple", "pear", "pineapple", "blueberry"]`

This function should also print a warning if the item to replace isn't in the list passed to the function.

Hint: you can solve this using these following mechanics (together with other things we've learned):
- a while-loop
- the `.index()` list method

You won't need the methods `.remove()` and `.append()`.

As always, the solution can be found in the solutions notebook. Good luck!

### 10.2 `for`-loops

In chapter 9 we learned about lists. A very common task in coding is looping through all items in a list to change all, or some, of the values within it. If we don't use a loop, going through the list items will be tedious.

As an example, let's say we have a list of values, and we want to multiply them with three and print the results:

In [4]:
numbers = [42, 3, 15, 7, 99]

Using the list's index, we can do operations on the list's values:

In [2]:
result = numbers[0] * 3
print(result)
result = numbers[1] * 3
print(result)
result = numbers[2] * 3
print(result)
result = numbers[3] * 3
print(result)
result = numbers[4] * 3
print(result)

126
9
45
21
297

As you can see, this is as boring to type out as it is hard to read. Instead, we can use the `for`-loop. There are two ways to loop through the items:
- either going through them by index, using the `range()` function
- looping the actual values in the list, without the `range()` function

Let's go through them one by one.

#### 10.2.1 `for`-loop with the `range()` function

The `range()`-function returns what is called a range object.

In [319]:
type(range(5)) # the range datatype

range

It can be used together with a loop to set how many **iterations**, or **sequences**, of the loop we wish to be executed. Here we use the `range()` function to create a for-loop with 5 sequences. So the print function will be executed five times:

In [320]:
for i in range(5):
    print(i)

0
1
2
3
4

The for-loop consists of five parts:
1. The `for` keyword
2. A variable name. `i` in the above example (this is the standard way to name the variable in for-loops using the range() function – "i" for index)
3. The `in` keyword, pointing to container object
4. The container to loop over (in this case, a range object returned from the `range()`-function)
5. A colon `:` signifying "the following code block shall be used in every loop"
6. Code block to be executed each sequence

As explained in (2), the variable name can be set to whatever. But it is common practice to name it `i` for `index` if using the range function. So the above code tells the interpreter. Here is another example, just to show you that the variable can be named whatever (in general, don't name it like this):

In [321]:
for johan in range(3):
    # here, we have to use the str() function to be able to do string concatination
    print("'johan' is: " + str(johan))

'johan' is: 0
'johan' is: 1
'johan' is: 2

In [322]:
for index in range(3):
    print("'index' is: " + str(index))

'index' is: 0
'index' is: 1
'index' is: 2

In [323]:
for i in range(3):
    print("'i' is: " + str(i))

'i' is: 0
'i' is: 1
'i' is: 2

As we discussed earlier, if the `range()` function is only given one number value as an argument, it will give you that number of iterations. As you can see above, the argument 3 gives us three iterations, since it goes up to, not including, this index number: 0, 1, 2.

But you can give the `range()` function more than one argument. If you give it two arguments, the first will be the start value, and the second the stop value:

In [324]:
for i in range(5, 10):
    print("'i' is: " + str(i))

'i' is: 5
'i' is: 6
'i' is: 7
'i' is: 8
'i' is: 9

So, above the range function gave us 5 iterations (or sequences): starting at 5 and stopping at 10, which is 9. Note that only passing it one argument, the default starting value will be 0. 

But we can also give the function a third argument: how big steps we want each iteration to take:

In [31]:
for i in range(50, 100, 10):
    print("i is: " + str(i))

i is: 50
i is: 60
i is: 70
i is: 80
i is: 90

We can acctually pass this range object to the `list()` function and get a new list:

In [325]:
list(range(50, 100, 10))

[50, 60, 70, 80, 90]

In [326]:
list(range(5))

[0, 1, 2, 3, 4]

In [327]:
list(range(0)) # zero iterations gives us an empty list

[]

So how do we then use the `range()` function to loop over our list of numbers? Well, the reason it is common practise to name the loop variable `i` is because this variable can be used as an index number in another list. Let's try it on our list:

In [38]:
numbers = [42, 3, 15, 7, 99]

In [33]:
for i in range(5):
    print(numbers[i])

42
3
15
7
99

Hang on? What the hell just happend??

We created a for-loop with a `range()` function as our container to loop over. Passing it the argument 5 specfifys five iterations (sequences), starting at 0. So in the first loop, our for-loop variable will be 0, that is `i = 0`. When we pass the variable `i` as an index number to our list, this will be the same as typing `numbers[0]` in the first loop. `numbers[1]` the second loop, `numbers[2]` the third, and so on.

So, back to our problem from the beginning of this section, we want to multiply all values in this list by three:

In [328]:
numbers = [42, 3, 15, 7, 99]

And we don't want to do this:

In [329]:
result = numbers[0] * 3
print(result)
result = numbers[1] * 3
print(result)
result = numbers[2] * 3
print(result)
result = numbers[3] * 3
print(result)
result = numbers[4] * 3
print(result)

126
9
45
21
297

Let's instead use a for-loop together with a `range()` function:

In [41]:
for i in range(5):
    result = numbers[i] * 3
    print(result)

126
9
45
21
297

Success! But let's make it a bit more clean. First of all, it is not recommended to actually specify the `range()`-argument in this way. Let's say we would have a lists containing hundreds of values. In that case, it wouldn't be very convenient to keep track of the exact number of items in the list. Specifying a too large number of iterations will give us an error:

In [45]:
for i in range(6):
    result = numbers[i] * 3
    print(result)

126
9
45
21
297

IndexError: list index out of range

So instead of using an actual number, we could use the length of the list itself! We can get the length using the `len()` function:

In [46]:
len(numbers)

5

Let's use this instead of the integer five as an argument in the `range()` function:

In [49]:
range(len(numbers))

range(0, 5)

Since `len(numbers)` returns 5, it is the same as typing `range(5)`!

In [50]:
range(len(numbers)) == range(5)

True

While we're at it, let's rewrite the code block and make it a bit more concise. We don't actually need the variable `result`. We can just pass the expression `numbers[i] * 3` as an argument to our `print()` function:

In [51]:
for i in range(len(numbers)):
    print(numbers[i] * 3)

126
9
45
21
297

#### 10.2.2 The `continue` statement

Above, in section 10.1.3, we covered the `break` statement which let's us cancel loops. But let's say that we don't want the loop to completely stop, just skip the current iteration, the current sequence? This is where we can use the `continue` statement. Take this following example:

In [330]:
numbers = [1, 2, 3, 4, -1, 5, 6]

In [331]:
for i in range(len(numbers)):
    print(numbers[i])

1
2
3
4
-1
5
6

Let's say, for some reason, we don't want the loop to to print negative numbers. This is when we can use the `continue` statement. Using the same for-loop:

In [332]:
for i in range(len(numbers)):
    if numbers[i] < 0:
        continue
    else:
        print(numbers[i])

1
2
3
4
5
6

So each iteration in the for-loop starts with the if-statement. If the current iteration's list item is less than 0, the `continue` statement just abrubts the iteration and starts the next one. That's why the value -1 never gets printed.

Continue-statements are very handy since it allows us to choose which items in a list we want to change, by skipping the ones we're not interested in. Think of it as a tool to use in this general way: "while looping over this list, if this particular value is in a certain way, change it; _otherwise continue_".

##### 10.2.2.1 Exercise – Build your own list function, part 3

Try to do exactly as in the last exercise, but with a for-loop (using the `range()` function) instead of a while-loop. You should also use the `len()` function and the `continue` statement.

The solution can be found in the solutions notebook. Good luck!

#### 10.2.3 `for`-loop without `range()`

Let's go back to the list where we want to multiply all values with 3:

In [333]:
numbers = [42, 3, 15, 7, 99]

As we learned in section 10.2.1, we can write a for-loop with a range function to help us with that. But, we don't acctually need the `range()` function for this particular problem. 

IN a matter of fact, a for-loop only need a container that can be iterated, and our list `numbers` can be iterated! Let's have a look:

In [334]:
for item in numbers:
    print(item)

42
3
15
7
99

Here, using the for/in keyword combination, we tell the interpreter that we want to iterate over all items in the list. As you can see, this is way more straight forward and easier to read than the solution using the `range()` function call.

In this pattern, the variable we create in each iteration (each sequence) of the loop, isn't an index number. It is the list's actual values that is iterated one by one. This means we can just multiply this variable with 3 to solve our problem!

In [335]:
for item in numbers:
    print(item * 3)

126
9
45
21
297

Easier to read and easier to type!

#### 10.2.4 `for`-loops – with or without `range()`?

As you could see in the previous section. Typing for-loops without the range-function is way more readable and easier to understand. But does that mean we should always skip the `range()` function? 

Short answer: no.

Sometimes we will need it. Take this example: let's say we want to change the list's values. How would we do that, using a for-loop?

Here's a try without the `range()` function:

In [336]:
numbers

[42, 3, 15, 7, 99]

In [337]:
for item in numbers:
    item = item * 3
    print(item)

126
9
45
21
297

In [338]:
numbers

[42, 3, 15, 7, 99]

Hold up now! Nothing happend to the items in the list?? Why was that?

In each iteration in the for-loop: first, a variable named `item` is created. The list's value in the present iteration is then assigned to this variable – `item`. The variable `item` is then reassigned to the result of the calculation `item * 3`. Finally, the variable `item` is printed. But when the code block is done and executed, this variable `item` and its assigned value is forgotten and a new loop sequence is initiated. 

In other words, _it isn't the actual list's value that is being changed. It is just a copy of it assigned to the variable `item`._ So the code `item = item * 3` has, in fact, no connection to the actual list and therefore, no changes to the list's values occurs.

However, we _can_ change the list's values if we reference them directly. If you recall section 10.3, changing a value within a list can be done by specifying the item's list index. _And this is where we will need the `range()` function!_

In [72]:
numbers = [42, 3, 15, 7, 99]

for i in range(len(numbers)):
    numbers[i] = numbers[i] * 3
    print(numbers[i])

126
9
45
21
297

In [73]:
numbers

[126, 9, 45, 21, 297]

Let's make it a bit tidier using an augment assignment operator instead (see section 3.3.1):

In [74]:
numbers = [42, 3, 15, 7, 99]

for i in range(len(numbers)):
    numbers[i] *= 3
    print(numbers[i])

126
9
45
21
297

In [75]:
numbers

[126, 9, 45, 21, 297]

## 11 Mutable and immutable objects

In chapter 9, we talked about the similarities between lists and string values. They are both objects that can be seen as containers. One big difference between strings and lists, however, is that string values are **immutable**, where as lists are **mutable**. In Python, if an object is immutable, it means that it cannot be changed after its creation. On the contrary, a mutable object can be changed. Consider the following example:

In [339]:
cities = ["Stockholm", "Paris", "Kabul", "Sidney"]

Using indexing, we can change a specific value within the list. Let's say we want to change "Paris" to "Oslo":

In [106]:
cities[1] = "Oslo"

In [107]:
cities

['Stockholm', 'Oslo', 'Kabul', 'Sidney']

The list has been altered, which is possible since lists are mutable!

When working with string values, we can also use indexing, and get characters returned:

In [340]:
name = "Johan"

In [341]:
name[1] # second letter in "Johan"

'o'

But what happends if we try to change an individual character within the string using indexing?

In [342]:
name[1] = "P"

TypeError: 'str' object does not support item assignment

We get an error! This is because string values are immutable. So if we want to change strings – and we do often want to change strings! – we create new strings:

In [112]:
name[0] + "P" + name[2:] # here using string concatination

'JPhan'

Immutability is a fundamental part of programming since there are many situations where you want certain parts of your code that cannot be altered. This is a bit abstract while learning programming, since we focus on small code snippets where things are easy to keep track of. But in a program with thousands of rows of code, objects' immutablility is an important aspect so certain objects _cannot_ be reassigned where they shouldn't. 

The reason for this is because its easy to mix up variables' **references**.

### 11.1 Variables' references to values

Throughout this course, you might've wondered why I keep mentioning that variables "reference" a particular value, or "points" to a value. Why not that a variable _"is"_ a particular value? The reason is how the Python language works. When we create a variable, we are actually doing two things simultaneously: we create the value within the computers memory _and_ creating a namespace that _reference_ that value:

In [345]:
eggs = 5

So here, the integer 5 was created in the computer's memory. But we also told the computer "if we pass the name `eggs` to the interpreter, it should point to this integer". It is sort of like we create a value, and then hang a sign with the name "eggs" on it. Here's a pic visualising what's going on (a sign nailed to the interger value):

<img src="../course_material/immutable_1.png" style="width: 500px;"/>

Let's copy the value 5 to another variable:

In [346]:
bananas = eggs

In [347]:
bananas

5

In [348]:
eggs == bananas

True

Both variables – `eggs` and `bananas` – are refering to _the same value_, the integer 5. In other words, we're not copying the actual value, we're just creating another sign – like a nametag – and slapping it on the same value:

<img src="../course_material/immutable_2.png" style="width: 500px;"/>

**We're creating a new reference to the value, rather than creating a new value!**

But if we change the value `bananas`, we actually _do_ create a new value within the computer's memory, _and hanging our name sign on this new value instead_.

In [349]:
bananas += 1

In [350]:
eggs

5

In [351]:
bananas

6

So, now, the variable `bananas` points to the integer 6 – a new value within the computer's memory! Here's a pic:

<img src="../course_material/immutable_3.png" style="width: 500px;"/>

This happens because integers are immutable. And if you think about it, this makes sense. The value 5 cannot also be the value 6. So, these two variables are now not the same since they point to two different values in the computer's memory.

In [352]:
eggs == bananas

False

Lists doesn't work the same way. Let's try a similar operation, but with two lists:

In [353]:
fruits = ["apples", "oranges", "grapes", "bananas"]

In [354]:
groceries = fruits

In [355]:
fruits

['apples', 'oranges', 'grapes', 'bananas']

In [356]:
groceries

['apples', 'oranges', 'grapes', 'bananas']

Here, we have a similar situation going on. We have created a value – this time a list instead of a integer – containing four string values, and we've slapped two nametags on this list:

<img src="../course_material/mutable.png" style="width: 500px;"/>

Now, let's change one of the values within `groceries`:

In [357]:
groceries[2] = "MILK"

In [358]:
groceries

['apples', 'oranges', 'MILK', 'bananas']

If we now check `fruits`, the returned list may surprise you:

In [359]:
fruits

['apples', 'oranges', 'MILK', 'bananas']

...it has also been modified! Huh? What the hell happend??

When we changed the third value in the list to the string "MILK", this doesn't create a new list in the computer's memory. It is the same list, only with one of its items swapped. And since both variables `fruits` and `groceries` points to the same list (both the nametags are still attached to the same list), both variables return the altered list!

<img src="../course_material/mutable_2.png" style="width: 500px;"/>

**This is a really important concept to understand!** If you aren't familiar with this, your code's behaviour will sometimes confuse you. For example:

### 11.2 Mutable lists in local scopes

Consider what we learned in chapter 7 – local and global scopes. Let's say we have a function that adds a value to a list

In [12]:
def adds_value(your_list):
    your_list.append("Hello world!")

As you might've noticed, this function doesn't have a return statement. This means that everything that happends in the function's local scope gets destroyed when the code block is exectued and the local scope terminated, right? Let's try it:

In [13]:
fruits = ["apples", "oranges", "grapes", "bananas"]

In [14]:
adds_value(fruits)

In [15]:
fruits

['apples', 'oranges', 'grapes', 'bananas', 'Hello world!']

Huh?? 

If you recall from chapter 7, the local scope in the function `add_value()` creates a variable named after the parameter `your_list`. And since this is in a local scope, all namespaces created in the function is lost when the function's code block is executed. 

But here's the thing: since a list is mutable, the variable `your_list` (that is created in the local scope) references _the same list_ as `fruits` is assigned to. And when we change the list value by adding a value, _it still is the same list value_. To continue our analogy of slapping a nametag on a value, we just hanged a new nametag on the same list value, only that it is in a local scope! Here's a pic that visualises what's going on:

<img src="../course_material/mutable_scope.png" style="width: 500px;"/>

The local scope didn't create _a new list_, it only created a new nametag for the list – a new reference. And it is this namespace that then gets destroyed when the local scope is terminated. It is only the nametag that is destroyed! 

So the method `.append()` within the function's code block, actually altered the same list that the variable `fruits` points to. Therefore, when we run `fruits`, this global variable's list is also altered!

#### 11.2.1 Exercise – why doesn't the variable change?

In this exercise, we have this function, similar to the one just above:

In [20]:
def add_value(number):
    number += 1

But when we call this function on the variable `apples` assigned to the number value 5, the value stays the same after the function call:

In [21]:
apples = 5

In [22]:
add_value(apples)

In [23]:
apples

5

This behaviour is different than what we saw with the function `add_value()` in section 11.2. Why is that? Explain in your own words what is happening here. The solution can be found, as usual, in the solutions notebook. 

Good luck!

### 11.3 How to copy mutable objects then?

Obviously, there are many situations were we want to copy lists, and not only the references to them. So how do we do that? There are a number of ways, and I will show you some, and then the way that is the best way.

First of, using the `.copy()` list method:

In [1]:
fruits = ["apples", "oranges", "grapes", "bananas"]

In [2]:
groceries = fruits.copy() # copying list

In [3]:
groceries[2] = "milk"

In [4]:
groceries

['apples', 'oranges', 'milk', 'bananas']

In [5]:
fruits

['apples', 'oranges', 'grapes', 'bananas']

Or, we could just use the `list()` function, creating a new list object:

In [6]:
fruits = ["apples", "oranges", "grapes", "bananas"]

In [7]:
groceries = list(fruits) # copying list

In [8]:
groceries[2] = "milk"

In [9]:
groceries

['apples', 'oranges', 'milk', 'bananas']

In [10]:
fruits

['apples', 'oranges', 'grapes', 'bananas']

Or, we can reference the original list's index and just type colon `:`, indicating we want all values. This also creates a new list object:

In [12]:
fruits = ["apples", "oranges", "grapes", "bananas"]

In [13]:
groceries = fruits[:] # copying list

In [14]:
groceries[2] = "milk"

In [15]:
groceries

['apples', 'oranges', 'milk', 'bananas']

In [16]:
fruits

['apples', 'oranges', 'grapes', 'bananas']

However, the way to go – if you need a completely new list object and no references intertwined – is using the `deepcopy()` function from the `copy` module. But we need to import it:

In [24]:
import copy

In [25]:
fruits = ["apples", "oranges", "grapes", "bananas"]

In [26]:
groceries = copy.deepcopy(fruits) # copying list

In [27]:
groceries[2] = "milk"

In [28]:
groceries

['apples', 'oranges', 'milk', 'bananas']

In [29]:
fruits

['apples', 'oranges', 'grapes', 'bananas']

This function is the supperior way to go, since it not only creates a new list object, but also nested lists. I won't go into more detail here, but if you're interested, [this is a good explanation!](https://realpython.com/copying-python-objects/)

## 12 Dictionaries

### 12.1 Definitions

Another way to store data in Python is **the dictionary datatype**. It is defined by the curly brackets `{}`:

In [1]:
type({})

dict

Dictionaries consists of pairs of keys and values – **key-value pairs**. In lists, each value in the list had an index that you could call to return any specific item in the list. In dictionaries, there is no index, instead we have keys, and they can be any (immutable) value type.

We can create dictionaries, either with the dictionary literal syntax:

In [360]:
person = {"name":"Johan", "age":35}

In [361]:
person

{'name': 'Johan', 'age': 35}

...or with the `dict()` function call:

In [362]:
person = dict(name="Johan", age=35)

In [363]:
person

{'name': 'Johan', 'age': 35}

We can also just start with an empty dictionary (or _dict_ as it's sometimes called) and then add keys and values as we go:

In [365]:
person = {}

In [366]:
person['name'] = "Johan"
person['age'] = 35

In [367]:
person

{'name': 'Johan', 'age': 35}

Note that using the literal syntax, you can use as much whitespace as you want. This is simply ignored by the interpreter:

In [368]:
person = {
    "name":"Johan",
    "age":35
}

We use the dictionary keys instead of an index to get access to specific values within the dictionary:

In [370]:
person['name']

'Johan'

In [371]:
person['age']

35

We can store dictionaries within dictionaries, and then access those in one go. Take this example:

In [372]:
person = {
    "name":"Johan",
    "age":35,
    "nationality":"Swedish",
    "well-trained":False,
    "family": {
        "partner":True,
        "children":True,
        "grandchildren":False,
        "parents": {
            "mom":True,
            "dad":True
        }
    }
}

Under the key `family`, the value now is a dictionary as well. So to access the values within, we just pile keys after one another to get the value we want:

In [75]:
person['family']['children']

True

In [76]:
person['family']['grandchildren']

False

In [78]:
person['family']['parents']['mom']

True

So, the syntax of the dictionary is: 
- it is enclosed within curly brackets `{}` 
- Each key-value pair is seperated with a comma `,`
- keys and values are connected with colons `:`, with keys on the left side of the colon, and values on the right side

A big differance compared to lists is that dictionaries don't have any particular order within them. Lists are ordered by index, so the placement of values within the list matters. Take this example:

In [26]:
["red", "yellow", "blue"] == ["yellow", "blue", "red"]

False

These two lists are not the same, since their indexed values don't line up. But if we have a two dictionaries which have the same key-value pairs within them, it doesn't matter where we place them within the curly brackets:

In [27]:
{"first":"red", "second": "blue"} == {"second": "blue", "first":"red"}

True

We can use the `in` and `not in` operators to see if certain keys are present within a dictionary:

In [378]:
person = {
    "name":"Johan",
    "age":35,
    "nationality":"Swedish",
    "well-trained":False
}

In [379]:
"well-trained" in person

True

In [380]:
"potato" not in person

True

If we use the `.keys()` method, we get a list-like object of all keys within the dictionary:

In [381]:
person.keys()

dict_keys(['name', 'age', 'nationality', 'well-trained'])

A list-like object is a container of values that allows iteration, it's _sort of_ a list. You don't need to know this in detail. This means that if we call the `list()` function on the `.keys()` method call, we get an actual list of the keys in the dictionary:

In [382]:
list(person.keys())

['name', 'age', 'nationality', 'well-trained']

If we use the `.values()` method, we get a list-like object of all values within the dictionary:

In [383]:
person.values()

dict_values(['Johan', 35, 'Swedish', False])

If we want all key-value pairs, we can call the `.item()` method that returns all keys and values in a list-like object with tuples:

In [384]:
person.items()

dict_items([('name', 'Johan'), ('age', 35), ('nationality', 'Swedish'), ('well-trained', False)])

### 12.2 Looping over a dictionary

If we do a for-loop on our dictionary, it will loop over its keys:

In [385]:
person = {"name":"Johan", "age":35, "nationality":"Swedish", "well-trained":False}

In [386]:
for key in person:
    print(key)

name
age
nationality
well-trained

Which means we can loop the values by placing the `key` variable within square brackets after the dictionary:

In [387]:
for key in person:
    print(person[key])

Johan
35
Swedish
False

In the previous section, we briefly discussed dictionaries as unordered. In newer versions of Python, this is actually not true. Ever since Python 3.6 (this notebook is written in 3.8.5), **there is order in dictionaries** – they are organised in the same order you write them. But since this is a relatively new (albeit handy!) feature, you need to know how loops in dictionaries are commonly written, since otherwise, your programs might be buggy when used in older versions of Python.

The normal pattern for writing a for-loop over a dictionary is looping over its key-value pairs, using the `.items()` method:

In [388]:
for k,v in person.items():
    print(k,v)

name Johan
age 35
nationality Swedish
well-trained False

Hold up! Let's take it a bit slower now. Remember, the `items()` method returns a list-like object containing tuples of all key-value pairs within the dictionary:

In [35]:
list(person.items())

[('name', 'Johan'),
 ('age', 35),
 ('nationality', 'Swedish'),
 ('well-trained', False)]

If we loop over every tuple, each sequence will give us two values:

In [38]:
for tupl in list(person.items()):
    print(tupl)

('name', 'Johan')
('age', 35)
('nationality', 'Swedish')
('well-trained', False)

This is why, in our for-loop over the dictionary, we define two variables `k` and `v` for every sequence in the loop. Maybe it is more apparent if add parenthesis and some string formatting to show you what's what:

In [389]:
for (k,v) in person.items():
    print(f"key: {k}, value: {v}")

key: name, value: Johan
key: age, value: 35
key: nationality, value: Swedish
key: well-trained, value: False

In [69]:
for (k,v) in person.items():
    if k == 'age':
        new_age = v + 1 # if the key is age, its value goes +1
        print(f"Next year, Johan turns {new_age}")
    else:
        print(f"This is not the 'age' key.")

This is not the 'age' key.
Next year, Johan turns 36
This is not the 'age' key.
This is not the 'age' key.

### Exercise – Consumer costs

Here is a big dictionary with data of how expensive consumer goods and services are in various countries, in relation to eachother:

In [72]:
data = {'Albania': {2017: 51.4, 2018: 54.1, 2019: 56.9},
 'Austria': {2017: 111.8, 2018: 112.0, 2019: 113.0},
 'Belgium': {2017: 114.3, 2018: 114.8, 2019: 114.7},
 'Bosnia and Herzegovina': {2017: 54.5, 2018: 54.3, 2019: 54.8},
 'Bulgaria': {2017: 51.3, 2018: 52.0, 2019: 52.8},
 'Croatia': {2017: 69.5, 2018: 70.2, 2019: 71.2},
 'Cyprus': {2017: 90.3, 2018: 89.9, 2019: 90.1},
 'Czechia': {2017: 70.6, 2018: 73.4, 2019: 74.6},
 'Denmark': {2017: 143.3, 2018: 141.6, 2019: 141.3},
 'Estonia': {2017: 81.1, 2018: 83.0, 2019: 85.1},
 'Finland': {2017: 126.2, 2018: 126.0, 2019: 126.7},
 'France': {2017: 113.2, 2018: 113.6, 2019: 114.1},
 'Germany': {2017: 106.5, 2018: 106.8, 2019: 106.8},
 'Greece': {2017: 87.7, 2018: 86.5, 2019: 86.6},
 'Hungary': {2017: 65.0, 2018: 64.5, 2019: 65.3},
 'Iceland': {2017: 173.8, 2018: 162.4, 2019: 154.3},
 'Ireland': {2017: 131.2, 2018: 132.7, 2019: 133.7},
 'Italy': {2017: 103.8, 2018: 103.5, 2019: 102.7},
 'Japan': {2017: 121.7, 2018: 118.7, 2019: 124.1},
 'Latvia': {2017: 75.3, 2018: 76.5, 2019: 78.6},
 'Lithuania': {2017: 66.4, 2018: 68.0, 2019: 69.5},
 'Luxembourg': {2017: 129.0, 2018: 129.5, 2019: 131.1},
 'Malta': {2017: 84.9, 2018: 85.2, 2019: 87.3},
 'Montenegro': {2017: 57.1, 2018: 57.8, 2019: 57.1},
 'Netherlands': {2017: 115.0, 2018: 115.5, 2019: 116.5},
 'North Macedonia': {2017: 49.2, 2018: 49.9, 2019: 49.8},
 'Norway': {2017: 154.5, 2018: 151.1, 2019: 149.5},
 'Poland': {2017: 58.8, 2018: 59.6, 2019: 60.0},
 'Portugal': {2017: 89.2, 2018: 89.1, 2019: 87.9},
 'Romania': {2017: 53.9, 2018: 54.1, 2019: 54.9},
 'Serbia': {2017: 54.0, 2018: 55.7, 2019: 56.6},
 'Slovakia': {2017: 78.9, 2018: 79.7, 2019: 81.1},
 'Slovenia': {2017: 86.5, 2018: 87.2, 2019: 88.1},
 'Spain': {2017: 95.0, 2018: 95.7, 2019: 96.6},
 'Sweden': {2017: 128.9, 2018: 123.6, 2019: 120.6},
 'Switzerland': {2017: 163.8, 2018: 156.0, 2019: 162.0},
 'Turkey': {2017: 55.8, 2018: 45.9, 2019: 47.1},
 'United Kingdom': {2017: 119.9, 2018: 120.1, 2019: 121.2},
 'United States': {2017: 118.3, 2018: 114.0, 2019: 122.6}}

The bigger the number, the more expensive food, drinks, shopping etc. The value 100 indicates the average price for all European countries, per year. So if a country has 50 in 2017, it means this country's prices where half of the average in the EU.

By looping over this dictionary of data, I want you to find the country where consumer goods and services where the most expensive in 2019, and the country where it was the most cheap the same year.

Hint! Remember, you can create a `results` dictionary where you can compare, and swap values while looping over the data. Try out various ways to go and experiment! A solution is found in the solutions notebook!

When you're done: try to do the same thing, but this time with a function. The function should be able to take a year as an argument and return a dictonary with the countries that was the most expensive, and least expensive that year. You should also build the function such as it doesn't crash when you supply a year that isn't in the data. 

Goor luck!

## 13 Tuples

Tuples are very similar to lists, only that they are defined with plain brackets `()`:

In [19]:
a_tuple = (1, "Hello world!", 3, 4)

In [20]:
a_tuple[1]

'Hello world!'

In [21]:
a_tuple[-1]

4

The big differance is that tuples are immutable:

In [22]:
a_tuple[1] = "eggs"

TypeError: 'tuple' object does not support item assignment

## 14 Data structures

A data structure is when you combine one of the various Python data containers (lists, tuples, dictionaries, etc…) in some way.  In this chapter, I will present you three common examples. I want you to be familiar with their architecture, and how to play around with them. Hopefully, you won't feel overwhelmed when you run into them moving forward. They are very very common when working with data in Python.

### 14.1 Lists in dictionaries

In [8]:
my_groceries = {
    "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    "num_of_weekday": [1, 2, 3, 4, 5, 6, 7]
}

In [9]:
my_groceries['fruits']

['apples', 'pears', 'banans']

This structure is very similar to one of the most common and important data file – JSON (JavaScript Object Notation) files. [Here is a few examples of json data](https://opensource.adobe.com/Spry/samples/data_region/JSONDataSetSample.html#Example3) that gives you a sens of how similar it can be to organising data in a Python dictionary.

If you also do the continuation course, we will learn how to read and work with json files. For now, just know that this mix of lists in dictionaries, and dictionaries as huge data containers, are a common sight in the wild!

### 14.2 Tuples in lists

Many times, you will see list objects containing tuples. We've seen this already in previous chapters, for example while using the dictionary `.items()` method:

In [15]:
data = {
    "Spain": 42,
    "Italy": 12,
    "USA": 31,
    "China": 39,
    "Sweden": 9,
    "Norway":3,
    "Namibia":24
}

Using the `.items()` method will return the dictionary's key/value pairs as a list-like object of tuples. Let's call the method and convert it into a list:

In [107]:
list(data.items())

[('Spain', 42),
 ('Italy', 12),
 ('USA', 31),
 ('China', 39),
 ('Sweden', 9),
 ('Norway', 3),
 ('Namibia', 24)]

As you may recall from section 12.2, looping over a list of tuples, such as the one returned by the `.items()` method, looks like this:

In [20]:
for key,value in data.items():
    print(f"{key}'s value is {value}")

Spain's value is 42
Italy's value is 12
USA's value is 31
China's value is 39
Sweden's value is 9
Norway's value is 3
Namibia's value is 24

Each sequence in the loop produces a tuple containing two values: the dictionary key (in this case a country's name) and the corresponding value. But these iteration variables could be named anything we want. Let's save the list of tuples to its own variable:

In [108]:
tuple_list = list(data.items())

In [109]:
tuple_list

[('Spain', 42),
 ('Italy', 12),
 ('USA', 31),
 ('China', 39),
 ('Sweden', 9),
 ('Norway', 3),
 ('Namibia', 24)]

In [110]:
for item1,item2 in tuple_list:
    print(f"{item1}'s value is {item2}")

Spain's value is 42
Italy's value is 12
USA's value is 31
China's value is 39
Sweden's value is 9
Norway's value is 3
Namibia's value is 24

Since dictionary keys only have one corresponding value, the list of tuples produced by the `.item()` method will _always_ return a list where the tuples only contain two values. 

_(The second tuple value could, however, be a list containing many values. But, but_ one _list nontheless)_

Of course, tuples within lists can have way more values than just two:

In [36]:
test_list = [('Spain', 42, 26),
             ('Italy', 12, 89),
             ('USA', 31, 75),
             ('China', 39, 53),
             ('Sweden', 9, 59),
             ('Norway', 3, 82),
             ('Namibia', 24, 95)]

In [37]:
for item1,item2,item3 in test_list:
    print(f"{item1}'s two values are {item2}, and {item3}'")

Spain's two values are 42, and 26'
Italy's two values are 12, and 89'
USA's two values are 31, and 75'
China's two values are 39, and 53'
Sweden's two values are 9, and 59'
Norway's two values are 3, and 82'
Namibia's two values are 24, and 95'

Each item in the list is a tuple containing three values. Therefore, each sequence gives us three values to use, named `item1`, `item2`, and `item3` in above code cell.

##### The `zip()` function

A convenient way to create lists of tuples is to use the `zip()`function. Let's say we have two lists that are of the same length:

In [24]:
countries = ['Spain', 'Italy', 'USA', 'China', 'Sweden', 'Norway', 'Namibia']

In [25]:
values = [42, 12, 31, 39, 9, 3, 24]

We can pass these two lists to the zip function, and it will pair up each list's values into zip object. If we call the list function on this zip object, it will return a list of tuples:

In [29]:
zip_obj = zip(countries, values)

In [30]:
list(zip_obj)

[('Spain', 42),
 ('Italy', 12),
 ('USA', 31),
 ('China', 39),
 ('Sweden', 9),
 ('Norway', 3),
 ('Namibia', 24)]

### 14.3 List of dictionaries

Another very common data structure is lists of dictionaries. They are actually (in a way) similar to excel tables. Have a look at this example:

In [77]:
data_list = [{'year': 2011, 'population': 9_482_855}, # <- the underscores are to make the number easier to read
             {'year': 2012, 'population': 9_555_893},
             {'year': 2013, 'population': 9_644_864},
             {'year': 2014, 'population': 9_747_355},
             {'year': 2015, 'population': 9_851_017},
             {'year': 2016, 'population': 9_995_153},
             {'year': 2017, 'population': 10_120_242},
             {'year': 2018, 'population': 10_230_185}]

Here, we have a list with data of Sweden's population count year 2011 to 2018, saved to the variable `data_list`. Each item in the list is a dictionary with two keys: `year` and `population`. 

If you're familiar with spreadsheets, maybe you find this data structure similar to spreadsheet data. Each item in the list is like a spreadsheet row, and each dictionary's keys are like columns. Let's loop over it to explore the data:

In [78]:
for row in data_list:
    print(row)

{'year': 2011, 'population': 9482855}
{'year': 2012, 'population': 9555893}
{'year': 2013, 'population': 9644864}
{'year': 2014, 'population': 9747355}
{'year': 2015, 'population': 9851017}
{'year': 2016, 'population': 9995153}
{'year': 2017, 'population': 10120242}
{'year': 2018, 'population': 10230185}

Let's try to manipulate each sequence's data in a f-string:

In [79]:
for row in data_list:
    print(f"Sweden's population year {row['year']} was {row['population']}")

Sweden's population year 2011 was 9482855
Sweden's population year 2012 was 9555893
Sweden's population year 2013 was 9644864
Sweden's population year 2014 was 9747355
Sweden's population year 2015 was 9851017
Sweden's population year 2016 was 9995153
Sweden's population year 2017 was 10120242
Sweden's population year 2018 was 10230185

    "Huh, what's going on? This is going way too fast!!"

Ok, let's take it step by step. Each time we iterate (loop) over the data, we get a variable containing the data of the present sequence. This data is accessed through the `row` variable. Since all items in `data_list` is dictionaries, the `row` variable will always be a dictionary. So we can use keys on `row` in our for-loop!

The two keys available is `year` and `population`. These keys are then used in a f-string to print out each items information in one text string.

To me, lists of dictionaries is a very nice way to structure data, since it's easier to get an overview of its content.

### 14.4 Lists into dictionaries – `zip()` and `dict()`

In this section, I will teach you an excellent trick when using data in python. Working with data, we often find ourselves having two lists that we want to combine. To show you what I mean, I will reuse the data from the previous section. But this time, there are simply two lists. One list with the years, and one list with the population data:

In [31]:
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [9482855, 9555893, 9644864, 9747355, 9851017, 9995153, 10120242, 10230185]

The list are the same length, and each item within the lists corresponds with eachother.

In [32]:
len(years)

8

In [33]:
len(population)

8

This time, we want to transform these two lists into one dictionary. The dictionary should only have years as keys, and population as values. We can do this with a for-loop together with the `range()` function. Have a look:

In [61]:
data = {}
for i in range(len(years)):
    data[years[i]] = population[i] # the key is years[i], the value population[i]

In [62]:
data

{2011: 9482855,
 2012: 9555893,
 2013: 9644864,
 2014: 9747355,
 2015: 9851017,
 2016: 9995153,
 2017: 10120242,
 2018: 10230185}

This works! But there is a cleaner way. We learned earlier in this chapter that we could use the `zip()` function to combine two lists into list of tuples:

In [64]:
list(zip(years, population))

[(2011, 9482855),
 (2012, 9555893),
 (2013, 9644864),
 (2014, 9747355),
 (2015, 9851017),
 (2016, 9995153),
 (2017, 10120242),
 (2018, 10230185)]

Now, we learned in section 12.1 that we could create dictionaries with the `dict()` function:

In [49]:
dict(population=10_000_000)

{'population': 10000000}

But the `dict()` function actually accepts a list of tuples:

In [56]:
dict([("population", 10_000_000)])

{'population': 10000000}

This means we can use it together with our zip function. The zip object is built in such a way that if we pass it to a function, the function will be applied to all items in its list of tuples. Let's try passing the zip object to the `dict()` function:

In [58]:
dict(zip(years, population))

{2011: 9482855,
 2012: 9555893,
 2013: 9644864,
 2014: 9747355,
 2015: 9851017,
 2016: 9995153,
 2017: 10120242,
 2018: 10230185}

This is a fantastic way to transform lists into dictionaries!

### 14.5 (Optional) The `enumerate()` function

We've now explored three types of data structures. And we've also experimented looping over data structure's content. However, there is a function that is very handy while looping over data, the `enumerate()` function. Let's return to the example we used in the previous section, the list of dictionaries containing population data of Sweden:

In [113]:
data_list = [{'year': 2011, 'population': 9_482_855},
             {'year': 2012, 'population': 9_555_893},
             {'year': 2013, 'population': 9_644_864},
             {'year': 2014, 'population': 9_747_355},
             {'year': 2015, 'population': 9_851_017},
             {'year': 2016, 'population': 9_995_153},
             {'year': 2017, 'population': 10_120_242},
             {'year': 2018, 'population': 10_230_185}]

In section 10.2 we discussed two different ways to do for-loops. Either a straight for-loop (as used in previous sections in this chapter), or using the `range()` function to loop using index numbers, like this:

In [86]:
a_list = [5, 12, -3, 42]

for i in range(len(a_list)):
    print(a_list[i])

5
12
-3
42

_(If you're feeling rusty on this concept, check out section 10.2.3 to update yourself!)_

With the `enumerate()` function, we can do a straight for-loop, and a `range()` for-loop at the same time. The `enumerate()` function can be used on iterable objects (meaning lists, tuples and other listlike objects that you can loop over). It then returns an enumerate object. 

If this object is used in a for-loop, each iteration (each sequence) will return a tuple with the present iteration's sequence number (starting at zero) AND the value of the present iteration's value. Let me show you what I mean:

In [117]:
enumerate(a_list) # returns a enumerate object

In [118]:
for item in enumerate(a_list):
    print(item)

(0, 5)
(1, 12)
(2, 3)
(3, 42)

First iteration, the first number of this iteration is 0. If we loop over the entire list, this means that each sequence number corresponds to the list's index numbers. This is the first value in the first tuple above (0, 1, 2, 3). 

The value in the first iteration – the first item in the `a_list` list variable – is the integer 5. As you can see, each iteration returns a tuple with the present index and value.

If you recall section 10.2.4 (`for`-loops – with or without `range()`?), the `range()` function is a must if you want to change values in a list. You need the present index number to assign a new value to the list item. 

Take this following example as a refreasher. Let's say we want to change all negative number in the list to positives. We can use the `range()` function in a for-loop, and then an `if`-statement to see if the present iteration's value is positive or negative. If negative, we'll change it:

In [92]:
a_list = [5, 12, -3, 42]

for i in range(len(a_list)):
    if a_list[i] < 0:
        a_list[i] = a_list[i] * -1 # any negative number multiplied by -1 will make the negative a positive
    else:
        continue
print(a_list)

[5, 12, 3, 42]

If we instead of the `range()` function use `enumerate()`, we will have both the index and value at hand in each sequence of the for-loop! Let's do the exact same thing as above, but using `enumerate()` instead:

In [93]:
a_list = [5, 12, -3, 42]

for count, value in enumerate(a_list):
    if value < 0:
        a_list[count] = value * -1
    else:
        continue
print(a_list)

[5, 12, 3, 42]

As you can see, the result is the same. But the version using `enumerate()` is way more easy to read! Also, note that it is common practice to name the two variables produced by the `enumerate()` function `count` (since it counts each iteration), and `value`.

The `count` variable is also commonly used as a counter when you want to print each iteration in relation to the total number of iteration. Like this:

In [121]:
for count, value in enumerate(a_list):
    print(f"Iteration {count+1} of {len(a_list)}")

Iteration 1 of 4
Iteration 2 of 4
Iteration 3 of 4
Iteration 4 of 4

Let's return to our list of dictionaries stored in the `data_list` variable:

In [94]:
data_list

[{'year': 2011, 'population': 9482855},
 {'year': 2012, 'population': 9555893},
 {'year': 2013, 'population': 9644864},
 {'year': 2014, 'population': 9747355},
 {'year': 2015, 'population': 9851017},
 {'year': 2016, 'population': 9995153},
 {'year': 2017, 'population': 10120242},
 {'year': 2018, 'population': 10230185}]

Using `enumerate()` on this data structure is almost always a good idea. We can use the index number as a row index:

In [101]:
for index, value in enumerate(data_list):
    print(f"----\nRow {index}\nYear: {value['year']}, population: {value['population']}")

----
Row 0
Year: 2011, population: 9482855
----
Row 1
Year: 2012, population: 9555893
----
Row 2
Year: 2013, population: 9644864
----
Row 3
Year: 2014, population: 9747355
----
Row 4
Year: 2015, population: 9851017
----
Row 5
Year: 2016, population: 9995153
----
Row 6
Year: 2017, population: 10120242
----
Row 7
Year: 2018, population: 10230185

So, let's say we want to calculate population change year by year – how would we go about? Let's use enumerate:

In [122]:
# since the first list item has no year to compare to, we'll start the loop at the second list item:
for count, value in enumerate(data_list[1:], start=1):
    
    # First, let's get the dictionary with the previous year's data
    # it is one index number down from the present iteration:
    last_years_data = data_list[count-1]
    
    # now, we can just simply compare the two population numbers :
    pop_change = value['population'] - last_years_data['population']
    
    # list string to print in a readable manner:
    print(f"Year {last_years_data['year']}-{value['year']}: {pop_change}")

Year 2011-2012: 73038
Year 2012-2013: 88971
Year 2013-2014: 102491
Year 2014-2015: 103662
Year 2015-2016: 144136
Year 2016-2017: 125089
Year 2017-2018: 109943

Take your time to understand above code. It is a bit complicated, so don't sweat it if you feel lost to begin with. Basically, we use the `count` variable to get the previous iterations dictionary to calculate on. This code is the key to understanding the technique: `last_years_data = data_list[count-1]`, espescially the last part `[count-1]`. The number behind `count` is the index of each iteration. By subtracting it with 1, we get the previous iteration! This dictionary is then used accordingly.

To summarise: 

In general, if you're comfortable with it, **use `enumerate()` while looping data!**

### 14.6 Exercise – transform the data structure

In this exercise, you shall transform one data structure into another. Using the example data from section 14.2:

In [106]:
data = {
    "Spain": 42,
    "Italy": 12,
    "USA": 31,
    "China": 39,
    "Sweden": 9,
    "Norway":3,
    "Namibia":24
}
data

{'Spain': 42,
 'Italy': 12,
 'USA': 31,
 'China': 39,
 'Sweden': 9,
 'Norway': 3,
 'Namibia': 24}

The variable `data` is dictionary with key/value-pairs. This should be tranformed into a list of dictionaries. Each item in the list should consist of two key/value-pairs: a key called `"country"` with the value being the keys of the `data` dictionary. The other should be a key called `"number"` with the values being the values in the `data` variable.

So the end result should look something like this:

```
[{"country":"Spain","number":42}, ...]
```

My solution can be found in the solutions notebook. Good luck!

## 15 Errors and Exceptions

In earlier lessons, you've probably experienced some errors while trying out code. This is normal! See it as an indication that you are experimenting, yay!

Errors are when the computer encounters something in our code that it can't make sense out of. There are two categories of errors: syntax errors (very common while learning!) and exceptions.

**Syntax errors** are unconditionally fatal. This means that your program can't be executed containing a any syntax errors. Before your code is run, the interpreter reads the code from start to finish. If it finds a syntax error, it won't even start running your code. Take this example:

In [390]:
if True # <- colon missing here!
    print("Hello world!")

SyntaxError: invalid syntax (<ipython-input-390-ce3f02f5e877>, line 1)

**The error message** is often very useful at telling us why the code doesn't work. It tells us at which line of code the error was detected. It even has a small arrow that points to where the problem may be located.

**Exceptions** on the other hand, are errors that occurs because how the code is structured. They are raised when the code is executed: it is when the syntax is correct, but the code doesn't make sense to the computer. Like, for example, when you try to divide by 0:

In [82]:
100 / 0

ZeroDivisionError: division by zero

The computer reads the code, and detectes that we want it to divide 100 by 0. Unfortunatly, computers doesn't know how to do that, and so it flags the error and terminates the program. We say that it **raises an error**, or **raises an exception**. There are many types of exceptions and they all have various names. Above we see the `ZeroDivisionError`. Another common one is `NameError` which is raised when you try to use a variable that doesn't exist in the computer's memory:

In [83]:
johan

NameError: name 'johan' is not defined

### 15.1 `try` and `except` statements

Since the program terminates when an exception is raised, code below the error is never executed. Take this example of a small function that adds 2 to a number parameter:

In [87]:
def add_two(number):
    print(number + 2)

In [89]:
add_two(40)
add_two(4)
add_two("4")
add_two(0)

42
6

TypeError: can only concatenate str (not "int") to str

In the error message, you see that the computer raised a `TypeError` on line 3. The error occured because we can't use the `+` operator on strings together with integers. But you also see that the interpreter stopped reading code when the exception was raised, the last line in the code cell wasn't executed.

It makes sense that the computer stops the program when it encounters an error. By doing so, it alerts us so that we can fix a bug in our code. But sometimes, we don't want the program to stop just because it encountered an error. 

For example, let's say we have a list of names. We want to send these people an invititation to a party, but we can't be bothered writing a letter each for everyone. So we create a invitation text, and then loop over the names and insert the names in our invitaton. Brilliant!

The list is passed to this function that adds our invitaion message to a dictionary containing all invitations:

In [392]:
def invitation_bot(list_of_names):
    
    invitations = {}
    
    for name in list_of_names:
        # save the invitation text string to the dictionary:
        invitations[name] = "Hello " + name + """! I'm having a party this Saturday! 
Bring beer and I'll provide some food. Hope to see you here!\n"""
    
    return invitations

However! There is a bug in our list of names. When we weren't looking, our cat stepped on the keyboard and added an couple of integer values to the list:

In [393]:
names = ['Paul', 'Fredrick', 'Eva', 'Ebba', 'Sarah', 9, 'Philip', 4235214, 'Monica', 'Simon']

So, this function is supposed to return a dictionary with all invitations sorted by the names as keys, but since it encounters an exception it will crash before we can get our result:

In [394]:
invitations = invitation_bot(names)

TypeError: can only concatenate str (not "int") to str

Now, you'd think this is an easy fix – we can just use the `str()` function on our variable – converting the variable's assigned integer to a string, and moving on. But say we had hundreds of list items, and no idea if other types of values have also been added by the damn cat.

Much better to here use a `try` and `except` statement. These statements tells our computer to allow certain errors in our programs! I'll first rewrite our function with the statements, and then explain what it does:

In [395]:
def invitation_bot(list_of_names):
        invitations = {}

        for name in list_of_names:
            try:
                # this is the try clause
                invitations[name] = "Hello " + name + "! I'm having a party this Saturday!" \
                + " Bring beer and I'll provide some food. Hope to see you here!\n"
            except:
                # this is the except clause
                print(f"ERROR in the try clause! " + \
                      f"The name '{name}' gave an error.")
                continue

        return invitations

In [396]:
invitations = invitation_bot(names)

ERROR in the try clause! The name '9' gave an error.
ERROR in the try clause! The name '4235214' gave an error.

In this example, we included a try-except statement within the function's for-loop. A try-except statement consists of two code blocks. The first is the `try` clause. When the interpreter sees a try-except statement in your code, it will first read the `try` clause's code block. 

If the interpreter encounters an error within the try clause's code block, it will stop executing the try clause, and move to the `except` clause's code block. It will then execute this code instead. We say that the `except` code block **handles** errors for us that've been found in the try clause's code block.

So, when the for-loop encounters the integer 9, the interpreter realises that string concatination is not possible. So it stops and moves to the ` except` clause's code. This means that the integer 9 isn't added to our dictionary `invitations`. Instead, the except clause's code executes and prints the error message and runs the `continue` statement.

Let's move on to another example. Here, we have a function that takes a number value as an argument and divides 100 with this number:

In [397]:
def divide_by(number):
    print(100 / number)

In [398]:
divide_by(20)

5.0

The function crashes if we divide by 0:

In [399]:
divide_by(0)

ZeroDivisionError: division by zero

So, let's rewrite it with a `try` and `except` statement. But this time we will specify which error we want the `except` statement to handle. We do this by writing the error's name right after the `except` keyword:

In [129]:
def divide_by(number):
    try:
        print(100 / number)
    except ZeroDivisionError:
        print("You can't divide by 0!")

In [130]:
divide_by(0)

You can't divide by 0!

This is acctually the recommended approach. If you _only_ use the `except` keyword, you allow your code to "blindly" handle all errors. This means that you will not know of potential bugs being handled automatically by your program.

Therefore, it is way better to specify error types in your except statement. `except ZeroDivisionError` handles zero division errors, but it will still crash if another error is encountered. Take this example, here I've included the expression `1 + "1"`, this will produce a TypeError. And our except statement doesn't handle TypeErrors, so even though we have a try-except statement in our function, this code will crash:

In [134]:
def divide_by(number):
    try:
        1 + "1"
        #print(100 / number)
        
    except ZeroDivisionError:
        print("You can't divide by 0!")

In [135]:
divide_by(0)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We can, however, also include the `TypeError` in our except statement. The syntax for handling multiple error types in our except statement, is just the `except` keyword and then a tuple with all exceptions we want handled by the except clause:

In [142]:
def divide_by(number):
    try:
        1 + "1"
        #print(100 / number)
        
    except (ZeroDivisionError, TypeError):
        print("Also handles TypeErrors!")

In [141]:
divide_by(0)

Now also handles TypeErrors!

Handling exceptions is an essential part of programming, and there is way more to be said in the subject. But we won't go into it in more detail here. [But you can check out the official documentation of the subject here!](https://docs.python.org/3/tutorial/errors.html)