# Solutions

## Values

## Expressions and operators

**2.1.2 Exercise – where to put the parenthesis?**

In [1]:
((10 + 5) * (10 - 2) / (15 + 5)) / 4

1.5

## Variables and statements

**3.2.2.3 Exercise – write a letter!**

In [2]:
receiver = "Mom"
nice_treat = "Ben & Jerrie's ice cream"
destination = "Paris"
your_name = "Johan"
letter = f"""
Hi {receiver}!

All ingredients are necessary, so please don't forget \
any item in the list. Also, you know I love a little \
snack after dinner, so please get something you know \
I love – like {nice_treat}. Please hurry, I am starving!

- Milk
- Spinach
- Strawberry jam
- Spam
- Whole cream
- Cat food

Remember that we have loads of credits to spend. We \
need to save up some money for our dream vacation \
next year. I am soooo looking forward to travel to {destination}. \
That is, if the virus ever would let us go :(

Love,

{your_name}
"""

In [3]:
print(letter)

Hi Mom!

All ingredients are necessary, so please don't forget any item in the list. Also, you know I love a little snack after dinner, so please get something you know I love – like Ben & Jerrie's ice cream. Please hurry, I am starving!

- Milk
- Spinach
- Strawberry jam
- Spam
- Whole cream
- Cat food

Remember that we have loads of credits to spend. We need to save up some money for our dream vacation next year. I am soooo looking forward to travel to Paris. That is, if the virus ever would let us go :(

Love,

Johan

**3.3 Exercise – string concatination and variables**

As described in the course, we should always try to name variables in a logical manner. In this exercise, that is rather hard, but this is my take:

In [6]:
was, the, on, cat, mat, inside, hat, spc = "was", "the", "on", "cat", "mat", "inside", "hat", " "


    "cat was inside the hat on the mat"
    "hat was inside the cat on the mat"
    "mat was inside the hat on the cat"

In [7]:
cat + spc + was + spc + inside + spc + the + spc + hat + spc + on + spc + the + spc + mat

'cat was inside the hat on the mat'

In [8]:
hat + spc + was + spc + inside + spc + the + spc + cat + spc + on + spc + the + spc + mat

'hat was inside the cat on the mat'

In [9]:
mat + spc + was + spc + inside + spc + the + spc + hat + spc + on + spc + the + spc + cat

'mat was inside the hat on the cat'

This is rather ugly, so we could just add spaces within our strings and skip the blank space variable:

In [11]:
was, the, on, cat, mat, inside, hat = "was ", "the ", "on ", "cat ", "mat ", "inside ", "hat "

In [12]:
cat + was + inside + the + hat + on + the + mat

'cat was inside the hat on the mat '

In [13]:
hat + was + inside + the + cat + on + the + mat

'hat was inside the cat on the mat '

In [14]:
mat + was + inside + the + hat + on + the + cat

'mat was inside the hat on the cat '

Using string formatting:

In [15]:
was, the, on, cat, mat, inside, hat = "was", "the", "on", "cat", "mat", "inside", "hat"

In [16]:
f"{cat} {was} {inside} {the} {hat} {on} {the} {mat}"

'cat was inside the hat on the mat'

In [17]:
f"{hat} {was} {inside} {the} {cat} {on} {the} {mat}"

'hat was inside the cat on the mat'

In [18]:
f"{mat} {was} {inside} {the} {hat} {on} {the} {cat}"

'mat was inside the hat on the cat'

## Comparing values

**4.3 Exercise – insert the correct operators**

In [4]:
number = 12

In [5]:
if number < 15:
    print("Correct!")

Correct!

In [6]:
if number > 5 and number > -5:
    print("Correct!")

Correct!

In [7]:
if number < 150 or number < 25:
    print("Correct!")

Correct!

In [8]:
if number == 12:
    print("Correct!")

Correct!

In [9]:
if number != "Hello world!":
    print("Correct!")

Correct!

## Flow control statements

**5.5 Exercise – type the end of the story!**

We have four items to throw to Gary, which means we will need to cover four different conditions in our flow control statement. These are our items:

- the Ice Jewel
- the Ancient Staff of Pharts 
- the book "The World's 10 Worst Poems"
- the Bear Spear (a magical spear shaped like a bear)

Let's create our variable:

In [11]:
item = "the book"

In [12]:
if item == "the Ice Jewel":
    ending = """Teddy grabbed the Ice Jewel and threw it to Gary. \
Unfortunatly, the jewel was rather heavy. And it knocked Gary out. \
The beast ravaged Teddy, Gary and the horse. RIP. The end!"""
elif item == "the ancient staff of Pharts":
    ending = """In a moment of brilliance, Teddy remembered that \
Vampwolfosauruses have a excellent sense of smell. Their nose is \
a wolf nose, which is handy for smelling blood from a long distance. \
He threw Gary the staff of pharts, and Gary released its smelly \
magic upon the beast. It died immediatly, and Teddy could finally \
return to his fireplace as a hero. The end!"""
elif item == "the book":
    ending = """Teddy grabbed the book and threw it to Gary. \
Unfortunatly, unbeknown to Teddy, Gary was a former book \
critic, specialized in poetry. Gary took the gesture as the final \
straw in a long line of what he considered rude behaviour from \
Teddy's part. So he ran away, leaving Teddy to his fate. The end!"""
elif item == "the Bear Spear":
    ending = """Teddy had no time to think, so he grabbed the first \
thing he could – the bear spear. Even though he was incapacitated, \
he had one arm free, and was an excellent spear thrower. He \
tossed the spear with all the strength he could bear (get it), \
and it struck the beast right inbetween the eyes. It was such a \
relief, he didn't even need to ask Gary for help! The end!"""
else:
    ending = """Teddy unfortunatly didn't grab any of the items \
that could've been useful. Instead, he grabbed a rubber ducky. \
His last try before the beast ate him, the horse and Gary, was \
to aim the ducky at the beast's eyes. He did hit! But that didn't \
stop it. The end!"""
    
print (ending)

Teddy grabbed the book and threw it to Gary. Unfortunatly, unbeknown to Teddy, Gary was a former book critic, specialized in poetry. Gary took the gesture as the final straw in a long line of what he considered rude behaviour from Teddy's part. So he ran away, leaving Teddy to his fate. The end!

## Functions

**6.2.1 Exercise – the coin toss**

In [13]:
from random import randint

In [18]:
num = randint(0,1) # num is either 0 or 1
if num == 0:
    print("Heads!")
elif num == 1:
    print("Tails!")

Heads!

**6.5.1 Exercise – the truth-teller function**

First, we define our function:

In [6]:
def truth_teller(param1, param2):
    print(f"param1: {str(param1)}\nparam2: {str(param2)}")
    if param1 == param2:
        print("The arguments are the same!")
    else:
        print("The arguments are not the same...")

In [7]:
truth_teller(4,5)

param1: 4
param2: 5
The arguments are not the same...

In [8]:
truth_teller("Hello ","world!")

param1: Hello
param2: world!
The arguments are not the same...

In [9]:
truth_teller("Johan","Johan")

param1: Johan
param2: Johan
The arguments are the same!

I defined the function with two parameters (`param1` and `param2`). Then I included a `print()` function that also prints the arguments (using string formatting!). Since the arguments passed also can be numeral values, I need to convert the parameters to strings using the `str()` function. Also, note the newline string literal `\n` that inserts a linebreak in the printed string! See section 3.2.2.2 if you need a recap. 

Lastly, I included a if-else-statement that compares the two parameters and prints accordingly.

**6.8 Exercise – the currency converter**

In [10]:
def converter(amount, currency_code):
    if currency_code == "USD":
        return amount * 1.17
    elif currency_code == "SEK":
        return amount * 10.43
    elif currency_code == "GBP":
        return amount * 0.92
    elif currency_code == "RMB":
        return amount * 7.89
    else:
        print(f"The currency code {currency_code} isn't recognised.")

In [11]:
converter(423,"USD")

494.90999999999997

In [12]:
converter(423,"SEK")

4411.89

In [13]:
converter(423,"GBP")

389.16

In [14]:
converter(423,"RMB")

3337.47

In [15]:
converter(423,"XXX")

The currency code XXX isn't recognised.

## Local and Global scopes

**7.4 Exercise – why won't the code work?**

In [1]:
def print_results(results):
    # variables "number1" and "number2" doesnät exist in this scope
    print(f"{str(number1)} multiplied with {str(number2)} is {results}")

def calculator(number1, number2):
    results = number1 * number2
    # no return statement

num_apples = 5
num_oranges = 6

calculator(num_apples, num_oranges) # no assignment statement
print_results(results)

NameError: name 'results' is not defined

There are three major bugs in the code. 

1. The function `calculator()` doesn't have a return statement, so the calculation of the variable `results` only happends in the local scope within that function
2. Even if `calculator()` had a return statement, there is no assignment statement. So, no returned value would be saved to any variable that could be used later in the code
3. The `print_results()` function references two variables that doesn't exist in that function's local scope. Remember: local scopes can't use variables from other local scopes

Here is the same code, but with no bugs:

In [2]:
def print_results(number1, number2, results):
    print(f"{str(number1)} multiplied with {str(number2)} is {results}")

def calculator(number1, number2):
    results = number1 * number2
    return results

num_apples = 5
num_oranges = 6

res = calculator(num_apples, num_oranges)
print_results(num_apples, num_oranges, res)

5 multiplied with 6 is 30

## Object orientation and methods

**8.1 Exercise – experiment with methods**

In [25]:
fruits = "There are at least two bananas in this sentence bananas"

In [26]:
my_string = "bananas"
occurances = fruits.count(my_string) # counts the number of occurances of a string value
print(f"There are {occurances} occurances of the string {string} in the variable 'fruits'")

There are 2 occurances of the string bananas in the variable 'fruits'

In [72]:
my_string = "bananas"
index = fruits.find(my_string) # finds the (lowest) index value of passed string value
print(f"The string value '{my_string}' start at index number {index}!")

The string value 'bananas' start at index number 23!

In [22]:
fruits[23:30]

'bananas'

In [28]:
my_string = "bananas"
new_string = fruits.replace(my_string, "elephants") # replaces strings within strings
print(new_string)

There are at least two elephants in this sentence elephants

## Lists

**9.10 Exercise – Build your own list function, part 1**

The goal with this exercise is to use list methods in a small script of your own. This isn't a very handy function, since it only replaces _one_ item at a time. It also doesn't replace the item at the same index where it lies, only appends it at the end. However, we will learn how to do this function more useful in later exercises!

In [48]:
def replace_item(item, replacement, the_list):
    if item not in the_list:
        print(f"The item '{item}' isn't in the list!")
        return the_list
    else:
        the_list.remove(item)
        the_list.append(replacement)
        return the_list

In [49]:
my_list = ["apple", "pear", "orange", "blueberry"]

In [50]:
replace_item("orange", "pineapple", my_list)

['apple', 'pear', 'blueberry', 'pineapple']

In [51]:
replace_item("dogs", "pineapple", my_list)

The item 'dogs' isn't in the list!

['apple', 'pear', 'blueberry', 'pineapple']

## Loops

**10.1.2 Exercise – build your won list function, part 2**

In [63]:
def replace_item(item, replacement, the_list):
    if item not in the_list:
        print(f"The item '{item}' isn't in the list!")
        return the_list
    else:
        # this while loop will continue until there is no more of 'item' in 'the_list'
        while item in the_list:
            index = the_list.index(item) # <- returns index of the 'item' value
            the_list[index] = replacement # passing index number to the list to change it
        return the_list

In [64]:
my_list = ["apple", "pear", "orange", "blueberry", 
           "apple", "pear", "orange", "blueberry", 
           "apple", "pear", "orange", "blueberry"]

This works on list with onlys tring values:

In [65]:
replace_item("apple", "giraffe", my_list)

['giraffe',
 'pear',
 'orange',
 'blueberry',
 'giraffe',
 'pear',
 'orange',
 'blueberry',
 'giraffe',
 'pear',
 'orange',
 'blueberry']

But also on lists with mixed value types:

In [66]:
my_list = [4, 42, 4, "blueberry", True, -31, 4.0, 611, 1010]

In [67]:
replace_item(4, "giraffe", my_list)

['giraffe', 42, 'giraffe', 'blueberry', True, -31, 'giraffe', 611, 1010]

**10.2.1.1 Exercise – build your own list function, part 3**

In [68]:
def replace_item(item, replacement, the_list):
    if item not in the_list:
        print(f"The item '{item}' isn't in the list!")
        return the_list
    else:
        for i in range(len(the_list)):
            if the_list[i] == item:
                the_list[i] = replacement
            else:
                continue
        return the_list

In [69]:
my_list = [4, 42, 4, "blueberry", True, -31, 4.0, 611, 1010]

In [70]:
replace_item(4, "giraffe", my_list)

['giraffe', 42, 'giraffe', 'blueberry', True, -31, 'giraffe', 611, 1010]

## Mutable and immutable objects

**11.2.1 Exercise – why doesn't the variable change?**

In [73]:
def add_value(number):
    number += 1

In [74]:
apples = 5

In [75]:
add_value(apples)

In [76]:
apples

5

The variable `apples` points (refer) to the integer 5, and integers are immutable objects in Python. This means, in contrast to the function `add_value()` in section 11.2, the operation in the function's parameter actually creates a new value in the computer's memory. It doesn't just alter the value, like it did with the list value in the function in section 11.2. 

The function then assigns this new value, the integer 6, to the variable `number`. When the local scope within the function terminates, both the value 6 and the namespace `number` is lost. 

Lastly, when we check the variable `apples`, after the function call, it is still 5, since neither the namespace `apples` nor the corresponding value, the integer 5, has been altered in the global scope.

## Dictionaries

**12.3 Exercise – Consumer costs**

First, the data:

In [129]:
data = {'Albania': {2017: 51.4, 2018: 54.1, 2019: 56.9},
 'Austria': {2017: 111.8, 2018: 112.0, 2019: 113.0},
 'Belgium': {2017: 114.3, 2018: 114.8, 2019: 114.7},
 'Bosnia and Herzegovina': {2017: 54.5, 2018: 54.3, 2019: 54.8},
 'Bulgaria': {2017: 51.3, 2018: 52.0, 2019: 52.8},
 'Croatia': {2017: 69.5, 2018: 70.2, 2019: 71.2},
 'Cyprus': {2017: 90.3, 2018: 89.9, 2019: 90.1},
 'Czechia': {2017: 70.6, 2018: 73.4, 2019: 74.6},
 'Denmark': {2017: 143.3, 2018: 141.6, 2019: 141.3},
 'Estonia': {2017: 81.1, 2018: 83.0, 2019: 85.1},
 'Finland': {2017: 126.2, 2018: 126.0, 2019: 126.7},
 'France': {2017: 113.2, 2018: 113.6, 2019: 114.1},
 'Germany': {2017: 106.5, 2018: 106.8, 2019: 106.8},
 'Greece': {2017: 87.7, 2018: 86.5, 2019: 86.6},
 'Hungary': {2017: 65.0, 2018: 64.5, 2019: 65.3},
 'Iceland': {2017: 173.8, 2018: 162.4, 2019: 154.3},
 'Ireland': {2017: 131.2, 2018: 132.7, 2019: 133.7},
 'Italy': {2017: 103.8, 2018: 103.5, 2019: 102.7},
 'Japan': {2017: 121.7, 2018: 118.7, 2019: 124.1},
 'Latvia': {2017: 75.3, 2018: 76.5, 2019: 78.6},
 'Lithuania': {2017: 66.4, 2018: 68.0, 2019: 69.5},
 'Luxembourg': {2017: 129.0, 2018: 129.5, 2019: 131.1},
 'Malta': {2017: 84.9, 2018: 85.2, 2019: 87.3},
 'Montenegro': {2017: 57.1, 2018: 57.8, 2019: 57.1},
 'Netherlands': {2017: 115.0, 2018: 115.5, 2019: 116.5},
 'North Macedonia': {2017: 49.2, 2018: 49.9, 2019: 49.8},
 'Norway': {2017: 154.5, 2018: 151.1, 2019: 149.5},
 'Poland': {2017: 58.8, 2018: 59.6, 2019: 60.0},
 'Portugal': {2017: 89.2, 2018: 89.1, 2019: 87.9},
 'Romania': {2017: 53.9, 2018: 54.1, 2019: 54.9},
 'Serbia': {2017: 54.0, 2018: 55.7, 2019: 56.6},
 'Slovakia': {2017: 78.9, 2018: 79.7, 2019: 81.1},
 'Slovenia': {2017: 86.5, 2018: 87.2, 2019: 88.1},
 'Spain': {2017: 95.0, 2018: 95.7, 2019: 96.6},
 'Sweden': {2017: 128.9, 2018: 123.6, 2019: 120.6},
 'Switzerland': {2017: 163.8, 2018: 156.0, 2019: 162.0},
 'Turkey': {2017: 55.8, 2018: 45.9, 2019: 47.1},
 'United Kingdom': {2017: 119.9, 2018: 120.1, 2019: 121.2},
 'United States': {2017: 118.3, 2018: 114.0, 2019: 122.6}}

There are a number of ways to do this, but this is how I would tackle it. First, I create a `results` variable to which I assign a placeholder dictionary. I will fill this with data later, as we loop through the dictionary:

In [134]:
results = {
    "highest": {
        "country":"",
        "value":0
    },
    "lowest": {
        "country":"",
        "value":1000
    }   
}

In [133]:
results

{'highest': {'country': '', 'value': 0}, 'lowest': {'country': '', 'value': 0}}

In each loop, I will compare the current sequence's value to the value in my `results` variable. If the value is higher (or lower when checking for cheapest), then this sequence's data will be added to the variable, when all key-value pairs have been looped over, we can check to see which loop that had the highest, and lowest value. Note that this is why I start the `results` variable's values at 0 and 1000. It is just to have something to compare it to!

Now to the loop itself. But how will each seaquence in the loop look like? Let's have a look at the first three key-value pairs:

In [139]:
counter = 0

for k,v in data.items():
    counter += 1
    
    print(f"key: {k} \nvalue: {v}\n")
    
    if counter == 3:
        break

key: Albania
value: {2017: 51.4, 2018: 54.1, 2019: 56.9}

key: Austria
value: {2017: 111.8, 2018: 112.0, 2019: 113.0}

key: Belgium
value: {2017: 114.3, 2018: 114.8, 2019: 114.7}

Ok! So in each sequence in the loop, the key will be the present country's name. The value will be all yearly data, as a dictionary. This means that if we want to check for the value for 2019, we will need to type `v[2019]` to get the country's data for 2019! Let's do this!

In [136]:
for k,v in data.items():
    
    # first, we'll check for highest number
    if v[2019] > results['highest']['value']:
        
        # if this sequence's value is higher than what's 
        # in the 'results' variable, swap to this one!
        
        results['highest']['country'] = k # adding the country
        results['highest']['value'] = v[2019] # adding the value
        
    # now checking for lowest number
    if v[2019] < results['lowest']['value']:
        results['lowest']['country'] = k # adding the country
        results['lowest']['value'] = v[2019] # adding the value

In [137]:
results

{'highest': {'country': 'Switzerland', 'value': 162.0},
 'lowest': {'country': 'Turkey', 'value': 47.1}}

**With a function**

In [143]:
def find_data(year, dictionary):
    # This is just to be sure that 'year' is an integer
    year = int(year)
    
    # First define our placeholder dictionary
    results = {
        "highest": {
            "country":"",
            "value":0
        },
        "lowest": {
            "country":"",
            "value":1000
        }   
    }
    
    for k,v in dictionary.items():
        # since we find the yearly data as a dictionary,
        # we can check v.keys() to get a list of all years
        # in the data, this if-statement triggers if the parameter
        # 'year' isn't in the data:
        if year not in v.keys():
            print(f"Year {year} isn't in the data.")
            
            # if 'year' isn't in the data, we want the function to 
            # stop here. We do this with a empty return statement
            # This just return None and terminated this local scope
            return
        else:
            # if 'year' is in the data, this code block is triggered!
            if v[year] > results['highest']['value']:
                
                results['highest']['country'] = k # adding the country
                results['highest']['value'] = v[year] # adding the value

            # now checking for lowest number
            if v[year] < results['lowest']['value']:
                results['lowest']['country'] = k # adding the country
                results['lowest']['value'] = v[year] # adding the value
    return results

In [144]:
find_data(2017,data)

{'highest': {'country': 'Iceland', 'value': 173.8},
 'lowest': {'country': 'North Macedonia', 'value': 49.2}}

In [145]:
find_data(2018,data)

{'highest': {'country': 'Iceland', 'value': 162.4},
 'lowest': {'country': 'Turkey', 'value': 45.9}}

In [147]:
find_data(2020,data)

Year 2020 isn't in the data.

## Tuples